<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Startup Ultimate Fighting (or the best parts of building a startup)') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Startup Ultimate Fighting (or the best parts of building a startup)</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?q=75&fm=jpg&s=d8cce13e5d977aeec5bdbec256987adf" alt="startup benefits">
            </div> <!-- hero image -->

<p>
  My mom called me the other day, clearly upset. 
</p>
<p>
  The blog posts I'd written about building a startup were largely focused on the negative aspects. "What about all the benefits?"
</p>
<p>
  Working for a startup is one of the best (and worst) things I've ever done. My goal was not at all to be negative, or even to deter one away from making the leap into this world, but only to share the truths that tech media seems to be allergic to. So, here's my happy post about startups!
</p>
<p>
  I just killed a startup that I was working on.
</p>
<p>
  But it's okay, we've already hacked together and launched a <a href="https://leanscribe.com/">new product</a>.
</p>
<p>
  Startups are like that. The benefits and drawbacks of working on them are so closely linked. The <a href="http://www.samdebrule.com/change">worst parts</a> of working on a startup can also be the best, depending on which day of the week it is. 
</p>

<h3>Everything rests on your shoulders</h3>
<p>
  The success and failure of your company depends, almost entirely, on your actions. Sure, luck and some <a href="http://www.paulgraham.com/13sentences.html">other factors</a> play a part, but your identity will always be intimately linked with the failure or success of your startup. 
</p>
<p>This is the single largest source of joy and stress in startups.</p>
<p>
  Being a startup founder is like fighting for the UFC. It doesn't matter how many months you put into training, or even how many personal sacrifices you've made. The only thing people remember is whether you've won or lost the fight. 
</p>
<p>
  That's exhilirating.
</p>
<p>
  I wake up every day, incredibly excited, to grind and face whatever challenges are thrown my way. I know I will be remembered as a success or failure because of what only I have control over. Very few professionals, outside of professional athletes and corporate executives, have that luxury. 
</p>
<p>
  If I win, if I lose, it's on me. 
</p>

<h3>You have freedom to do what you want</h3>
<p>
  The biggest trade-off people make working for a larger company is money for time. 
</p>
<p>
  My salary right now is exactly $0. I'm completely fine with that at this point in my life. I will always have the opportunity to make more money. What I can't do is create more time for myself. 
</p>
<p>
  The freedom of my work is great. I get to decide the most difficult challenge to tackle every day. I don't need to worry about doing menial tasks for someone else. 
</p>
<p>
  But the biggest benefit resides in my personal life. I can spend more time with my parents, working from their place on weekdays. I can be a better boyfriend, not missing out on events and occassions that my girlfriend would have to attend without me when I worked a more convential job. Setting my own hours even gives me the freedom to exercise and write more, two activities I never knew how much I loved.. Instead of being tied to my desk in an office, my time can be totally fluid. I start working at 5am, take a break to exercise and write at 8am, then get back to work arond 10:30am until my work day ends around 5pm. 
</p>
<p>
  It takes a while to get acclimated to this freedom, and I still believe that much startup stress comes from <a href="http://www.samdebrule.com/change">not being part of the crowd</a>, but this benefit is unmatched. 
</p>

<h3>Every day is the weekend</h3>
<p>
  I do what I love to do, every single day.
</p>
<p>
  I don't have to relegate my passions to early mornings before work or weekends. Monday morning feels no different than Friday afternoon.I don't dread Sunday evenings anymore.
</p>
<p>
  That's pretty cool. I don't know many other people who can say that. 
</p>
<p>
  But again, this benefit can be a bit of a slippery slope. Since all days feel the same, you'll feel a tremendous amount of guilt not working all day Saturday and Sunday, when your friends, families, and significant others are off from work. I haven't figured this one out yet. 
</p>

<h3>You learn to be happy with less</h3>
<p>
  I've lived on a shoestring budget for the past 5 months. 
</p>
<p>
  I spend practically $0 on anything that's not essential to my survival (note to the unaware: taking your girlfriend out for dinner at least once a month is, in fact, paramount to survival).
</p>
<p>
  I now know that I can be happy with very, very little. This is something that everyone should learn about themselves. What do you actually need to be happy? How closely linked are your happiness and material possessions? 
</p>
<p>
  Having little to my name is freeing both practically and theoretically. Practically speaking, my move from my old apartment to my new one couldn't have been easier. Theoretically speaking, I know I would be able to survive and piece things together if I were to ever become destitute.
</p>
<p>
  I'll be honest with you. Startups are a fun, but harrowing journey. Do you have what it takes?
</p>

<p>
  <i>P.S. If you enjoyed this article, join my email list so I can send you more. I’ll share a weekly blog post with some food for thought on the new career landscape and strategies to improve yourself.
</i>
</p>

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
