<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'The Startup Bookshelf') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">The Startup Bookshelf</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/reserve/P6A1ZZ8nRPYKZHXbLikA_2014-07-11%2017.39.15-1.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=274ce42392d782422e02ff0ce94e126c" alt="Customer Frustration">
            </div> <!-- hero image -->

<p>
  Hands down, my favorite part of working for a startup, is the ability to improve myself every day. 
</p>
<p>
  The best way to do that is by reading, incessantly. Anything I can get my hands on really: books, blogs, whatever. I figured I'd share what I'm currently reading for anyone thinking about (or new to) the startup scene. 
</p>
<p>
  Every single day, no matter how badly <a href="http://www.samdebrule.com/humans">things get messed up</a>, commit to reading something you care about.
</p>
<p>
  You'll be better because of it. Here's what I bury my face in: 
</p>
<h2>Blogs</h2>
<p>
  If you're just diving into the startup world, every site you see in the next two sections is a must. You will be able to hold a conversation in any interview, and just feel more knowledgable about tech in general.
</p>
<p>
  <a href="http://avc.com/">AVC</a> is my current favorite. Fred Wilson, a legendary venture capitalist, writes interesting stuff about all things tech and startups. Think seriously about digging into his archives if you're making the leap into the startup world.
</p>
<p>
  <a href="http://www.jamesaltucher.com/">The Altucher Confidential</a> is another favorite of mine. James Altucher has done (and succeeded at) nearly everything. An all-around great read re: living a meaningful life, being happy, and improving yourself.
</p>
<h2>Tech News</h2>
<p>
  <a href="https://news.ycombinator.com">Hacker News</a>. <a href="http://www.producthunt.com/">Product Hunt</a>. <a href="http://techcrunch.com/">TechCrunch</a>. That's my morning ritual right there. 
</p>
<p>
  Every morning around 7am, when I sit down to feast on my bowl of slop, I read an article or two from each of these sites.
</p>
<p>
  In order, they'll help you keep tabs on all things technical, new apps, and larger startup stories.
</p>
<h2>Fiction</h2>
<p>
  I just finished reading The Godfather for the first time. It's one of the best fiction books I've ever read.
</p>
<p>
  I'm currently looking for a new fiction novel to pick up.
</p>
<p>
  Any suggestions?
</p>
<h2>Non-fiction</h2>
<p>
  My current book of choice is <a href="http://www.amazon.com/Thinking-Fast-Slow-Daniel-Kahneman/dp/0374533555">"Thinking, Fast and Slow."</a> 
</p>
<p>
  It's essentially a psychology read that dissects the reasons for peoples' reactions and choices.
</p>
<p>
  It's pretty fascinating, and helps me to be more mindful of why I perceive certain things certain ways.
</p>
<p>
  I 100% missed my calling as a psychiatrist.  
</p>
<p>
  What'd you read today?
</p>




</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
