<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'The Hardest Parts of Startups Aren\'t What You Think') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">The Hardest Parts of Startups Aren't What You Think</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/43/9XkFhM8tRiuHXZRCKSdm_ny-2.jpg?q=75&fm=jpg&auto=format&s=fe6ae3e17cc7d7557206363f26090342">
            </div> <!-- hero image -->

<p>
  I, along with two of my co-founders, just launched a new product today.
</p>
<p>
  From the outside, it probably seemed easy. I can guarantee you it was anything but. I can also bet that any startup whose name you recognize, worked 10x harder than you could imagine to get where they are.
</p>
<p>
  But startups are romanticized every day in the media.
</p>
<p>
  You're constantly hearing about this startup being <a href="http://techcrunch.com/2014/09/15/microsoft-has-acquired-minecraft/">bought for billions of dollars</a> or that <a href="https://medium.com/@MattHartman/yo-to-invest-4794bfeea2d0">crazy app</a> raising millions over night. 
</p>
<p>
  Just ask anyone knee-deep in the mud of a startup's foundation, and you'll find a <a href="http://moz.com/rand/long-ugly-year-depression-thats-finally-fading/">level of anguish</a> that isn't present at an established company.
</p>
<p>
  I <a href="http://www.samdebrule.com/questions">quit my job</a> 6 long months ago to  build a startup. It has been one of the most rewarding experinces of my life, but I don't know where I'll be a month or two from now. And as rewarding as it's been, I have no way of knowing if I'll look back fondly on this experience one day. 
</p>
  I thought I'd share part of my experience with you, just incase you're interested in working on a startup one day. Here are the the toughest things I've faced so far.

<h3>Daily Identity Crisis</h3>
<p>
  Get ready for rapid, massive change every single day you work on a startup. Don't even try to keep everyone you care about outside of your company in the loop. They'll worry about you until you sell your startup or quit.
</p>
<p>
  I took the leap and left my job a few months ago, not because I was excited about the specific startup (or even its mission), but for the opportunity to work with my two current teammates. 
</p>
<p>
  Thank god that was the reason.
</p>
<p>
  2 days ago, after a lack of growth and coming to the painful realization that we couldn't keep the lights on in our current market, we completely flipped all of our work on its head. And I don't mean a minor pivot. We  shut the doors on our events advertising platform for colleges, agreed that Ventfull (RIP) is dead, and announced a new project today: 
</p>
<p>
  <a href="http://leanscribe.com/">LeanScribe</a>, a lightweight tool that helps startups mass email potential customers for cheap.
</p>
<p>
  If I tried to explain this massive change to my parents, I'm sure at least one of their hearts would stop beating completely. That would be awful. If you ever find yourself in my position, don't tell your parents or loved ones about your startup's identity crisis. 
</p>
<p>
  Just grin, and tell them that "everything's good." Give them an update only once the dust has settled.
</p>

<h3>Constant Fear of Failure</h3>
<p>
  I'm worried that our startup will fail every day.
</p>
<p>
  In an established company, no matter how badly something goes wrong on a given day, you can escape to your family at the end of the night. Many startup teams don't have that escape.  We literally spend every waking hour of the day together in our apartment: either trying to build something that makes people happy, eating cheap (awful) food, or playing <a href="http://www.catan.com/">Settlers of Catan</a>.
</p>
<p>
  Regardless of what's keeping us busy at a given point in time, we all know we're here for one reason: to make the startup work. That means the threat of our startup failing constantly looms overhead.
</p>
<p>
  When someone is cranky, it means a vision of being jobless in the near future just snuck into his mind.
</p>
<p>
  There's no real way to combat this, besides from earning significant amounts of money. And that's just how it is - startups are a series of joyous ups and painful downs. You'll experience bursts of excitement when things are going well, then just as quickly slip into a dark depression when things get messy.      
</p>
<p>
  My only recommendation here is doing whatever it takes for you to temper your feelings, good or bad.
</p>
<h3>Not Being Part of the Crowd</h3>
<p>
  I went running this morning at 8am and felt like a salmon swimming up stream.
</p>
<p>
  I literally found myself running in the the opposite direction of all the people in suits beginning their morning commutes to work. At that moment, I felt as if I was doing everything wrong. Why was I running away from what everyone is walking towards? 
</p>
<p>
  By the time I finished my run I didn't have the answer to that question. I don't even know now. What I do know is this exact feeling is what makes building your own startup so difficult.
</p>
<p>
  Explaining to a friend's parents what I do is the singular thing I dread most about working on a startup. I'm doing something different than all of my friends. Not only does the nature of my work seem to change every day, but it's difficult for anyone to categorize as good or bad because it doesn't have a recognizable name. 
</p>
<p>
  It may seem like a trivial thing, but trust me on this one. You'll feel uncomfortable every time you pitch your business to someone until it begins making money, or has millions of users, and your own self-doubt begins to fade.
</p>
<p>
  If you're working on a startup, feel free to use my strategy. Tell them your quick one second blurb, then ask them a question to divert their apprehension.
</p>
<p>
  Thanks for reading.
</p>



</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
