<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'How to not lose confidence') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">How to not lose confidence</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/photo-1413977886085-3bbbf9a7cf6e?fit=crop&fm=jpg&h=700&q=75&w=1050" alt= "confidence">
            </div> <!-- hero image -->

<p>
  I doubt myself constantly. 
</p>
<p>
  For the past 5-6 months, I've woken up every day with one burning question on my mind.
</p>
<p>
  "Can I really stomach one more plate of chicken, canned beans, and frozen spinach?"
</p>
<p>
  I'm not kidding. 
</p>
<p>
  It's more than just the food (which totally sucks). I'm eating this way because I work on a bootstrapped startup and need to <a href="http://www.samdebrule.com/survive">cut costs</a>.
</p>
<p>
  The majority of my time, over the past few months, has revolved around building a profitable company. Unfortunately, I don't feel much closer to that goal than I did 6 months ago when I <a href="http://www.samdebrule.com/questions">quit my job</a>. I can't tell people how much money has made in small talk (because it's not notable). I can't tell them that I'm 100% confident in my idea (can anyone?). I can't even tell them how I feel things are going (because I don't want to!).
</p>
<p>
  But, I'm still not a nervous wreck. In reality, I'm far from that.
</p>
<p>
  So, how do you remain confident when everything and everyone says you shouldn't be?
</p>

<h3>You need a sense of humor</h3>
<p>
  My grandmother is worried about me. 
</p>
<p>
  She sent me an article about the <a href="https://www.yumpu.com/en/document/view/10716810/the-perfectionists-script-for-self-defeat-university-of-colorado-">perils of perfectionism</a> a few days ago.
</p>
<p>
  It was pretty terrifying. The article basically says that you will be less successful than an average person if you (blindly) pursue perfection. Luckily, I'm not a perfectionist. I don't punish myself when something goes wrong.
</p>
  I usually laugh. 
</p>
<p>
  And that's what has kept me sane over the past few months. If I had expected this journey to be without bumps, my wagon would already be totally busted.
</p>
<p>
  If a call with a potential customer goes terribly wrong, an idea is shot down, or someone takes way too long to pay us, it's ok.
</p>
<p>
  Rather than freak out, I laugh. It's kept me losing faith in myself so far. 
</p>

<h3>Work on a side project</h3>
<p>
  I'm currently working on a <a href="http://www.bugsquid.com/">big idea</a> and a "side project."
</p>
<p>
  There's been a lot of discussion in the startup world whether or not startups should be <a href="http://ryanhoover.me/post/98567029388/startup-side-projects">working on side projects</a>. 
</p>
<p>
  I'm pro side projects. The one I'm currently working on is <a href="http://www.moretempo.com/#/">Tempo</a>. (You should sign up! It sends you a quick bodyweight workout to do every morning.)
</p>
<p>
  It's not just something I do for fun on the side. It takes the pressure off. It has actually shown me how I would build a product if I wasn't worried about what other people think. 
</p>
<p>
  Because it's a side project, and not a formal business, I find myself sharing it and talking about it more willingly than I have any non-side project I've worked on. 
</p>
<p>
  And that's helped restore my confidence. I DO actually know how to "sell" something people would be interested in.
</p>
<p>
  So do that. 
</p>
<p>
  Your side project could be blogging, creating <a href="https://www.youtube.com/watch?v=gNdyOdtFkAA">a podcast</a>, painting, whatever. Just do something that you enjoy. You'll get more out of it than you can imagine.
</p>

<h3>Spend time with someone who believes in you</h3>
<p>
  I can't stand coffee. 
</p>
<p>
  The smell is nice, but the taste. Ugh. I'm not into it.
</p>
<p>
  That doesn't stop me from drinking it once a week.
</p>
<p>
  Ever since I started blogging about working on a startup, people have reached out to me asking to grab a cup of coffee. 
</p>
<p>
  I jump at the chance once per week. It's a great opportunity to hear about interesting projects that other people are working on, and allow my self-confidence to slowly regenerate.
</p>
<p>
  Someone else values my opinion? You know what, maybe I can actually turn my startup into something.
</p>
<p>
  That's the state of mind I typically find myself in following these short meetings.
</p>
<p>
  You should try it out too. If you're working on a startup, don't feel like you need to be staring at your computer all day. This is a long distance race. Invest in your well-being, and your startup will benefit.
</p>

<p>
  <i>P.S. If you ever need a confidence (or caffeine) boost just, email me: sam@moretempo.com. I'd love to chat. 
</i>
</p>

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
