<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Being Different') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Being Different</h2>
            <div class="img-responsive">
            <img src="http://38.media.tumblr.com/c042979551e9563f9f824c6a64e3b677/tumblr_n7yhl9Zdm81st5lhmo1_1280.jpg" alt= "being different">
            </div> <!-- hero image -->


   <p>I'm a freak.</p>
   <p>
     An outcast if you will.
   </p>
   <p>
     I've been the same as my peers all my life, until now.
   </p>
   <p>
     I played sports, went to school, got good grades, graduated from school, etc. 
   </p>
   <p>
     But, unlike most of my friends, I'm not working a 9-5 job now. I'm not studying to be a doctor. I'm not working at a bank or a consulting firm. 
   </p>
   <p>
     I don't even leave my apartment most days (besides from an early morning workout in a nearby park).
   </p>
   <p>
     I'm trying to be an entrepreneur. 
   </p>
   <p>
     Not for the sake of being different, but because I have this internal desire to prove my worth. To make something that people love. To do something great. 
   </p>
   <p>
     And I feel like a complete pariah. 
   </p>
   <p>
     I've struggled (and failed) to write about <a href="http://www.samdebrule.com/doubt">this topic</a> before. <a href="http://www.samdebrule.com/questions">Here too</a>.
   </p>
   <p>
     I'm finally starting to figure out why building a startup, why being different, has been so damn stressful.  
   </p>
   <p>
     A few things to be mindful of if you set out on the same path:
   </p>

  <h3>Every mother in the world is worried for you</h3>
  <p>
    "Toast to Sam being unemployed!"
  </p>
  <p>
    That's a direct quote I heard someone's mom say the other night. 
  </p>
  <p>
    ... come on.
  </p>
  <p>
    Friends' mothers are, by far, the most underrated source of stress for a fledgling entrepreneur. 
  </p>
  <p>
    They are deeply concerned for your welfare, but don't have that wonderful blind faith in you that your own mom might have. 
  </p>
  <p>
    Until doing something on your own becomes as socially acceptable as working for a large bank, one of your friend's moms will make you doubt yourself.
  </p>
  <p>
    Which brings me to my next point.
  </p>
  <h3>You lack self confidence</h3>
  <p>
    If I was supremely confident (delusional), I wouldn't be freaked out by what other people have to say. 
  </p>
  <p>
    But I'm not. 
  </p>
  <p>
    I'm scared shitless that in a couple of months I will be broke, unemployed, and eating chicken and beans for every meal (kidding, I'm already doing that).
  </p>
  <p>
    But you get my point. 
  </p>
  <p>
    It's a nasty cycle. Lacking confidence causes stress. Stress causes a lack of confidence and self doubt. 
  </p>
  <p>
    If you ever find yourself in this position, remind yourself of why you're doing what you're doing. 
  </p>
  <p>
    Don't be above watching <a href="https://www.youtube.com/watch?v=GJWIRyUAur8">motivational videos</a>. I usually throw one on in the background when I'm working. I'm way happier on days I do this. 
  </p>
  <h3>Being an Entrepreneur isn't cool until it is</h3>
  <p>
    Mark Zuckerberg (Facebook), Elon Musk (Tesla), Evan Spiegel (Snapchat) were all "unemployed" nerds.
  </p>
  <p>
    Let's be honest, you and your friends were too cool to hang out with guys like this growing up.
  </p>
  <p>
    Now, they're literally running the world. 
  </p>
  <p>
    Being an early-stage entrepreneur is not fun. It's brutal and unglamorous. 
  </p>
  <p>
    You won't be making much (if any) money. People will tell you your idea sucks. "Friends" will doubt every decision you're making. 
  </p>
  <p>
    If you have the balls to take a risk, and to start something of your own, none of that will amount to anything more than a petty distraction. 
  </p>
  <p>
    In reality, it'll resemble something more akin to a puss-filled thorny infection in your side. 
  </p>
  <p>
    But you'll get through it.
  </p>
  <p>
    Good luck!
  </p>
  <p>
    And wish me some too.
  </p>


</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
