<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Startup Doubt') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Startup Doubt</h2>
            <div class="img-responsive">
            <img src="http://37.media.tumblr.com/bddaeb8fe12eda6bb40cf6a0a18d9efa/tumblr_n8zm8ndGiY1st5lhmo1_1280.jpg">
            </div> <!-- hero image -->

	<p> I feel like I'm doing something terribly wrong.</p>

	<p>
		I quit my job almost 2 months ago to work on a three person startup (If you're reading this, you probably know that already. But just incase).
	</p>
	
	<p>
	   I couldn't be happier with my decision. But that doesn't keep me from  feeling like the world is going to end at any minute.
	</p>

	<p>
		Most of my days are pretty similar. All I do is: talk to users, (teach myself to) code, eat, sleep, and exercise.
	</p>
	<p>
		When one of those activities isn't consuming me, I find my thoughts drifting off to the future.
	</p>

	<p>
		Which, honestly, couldn't be more terrifying. This is the most uncertain my future has been in the last 23 years. 
	</p>
	<p>
		It's not the uncertainty of what I'm doing that scares the shit out of me; it's just the fact that I'm not falling in line and doing what most people expect me to do. 
	</p>
	<p>
		But, sooner than later, I won't be the only one of my friends working at an early stage startup. Uptight mothers will no longer have that nervous, distressed look on their faces when I explain that I'm building a company. It'll become completely normal to work at a startup on the East Coast. Then it will become expected.
	</p>
	<p>
		And at that point, I'll quit the world of startups, and work at a bank.
	</p>
	<p>
	not.
	</p>
   

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
