<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'An Education That Does Not Suck') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">An Education That Does Not Suck</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/44/fN6hZMWqRHuFET5YoApH_StBalmainCoffee.jpg?q=75&fm=jpg&auto=format&s=d7e5860cbf58ac8e277dd38e759b14c2" alt="Startup Education">
            </div> <!-- hero image -->

<p>
  College is pointless. 
<p>
<p>
  I went to a good school, made good friends, got good grades. I could've learned everything I did, in a fraction of the time, from the comfort of my home, for free. I bet you could have too.
</p>
<p>
  Don't make the same mistake again. Don't get another degree. You can learn everything you need online.
</p>
<p>
  The college you go to doesn't matter anymore, beyond the personal connections you make. You get hired through the connections you nurture and the personal story you can tell.
</p>
<p>
  I'll never get my masters degree. You shouldn't either. Here's how to educate yourself for free:
</p>
<h3>MBA Mondays</h3>
<p>
  Want to save yourself a couple hundred thousand dollars? Check out Fred Wilson's <a href="http://avc.com/archive/#mba_mondays_archive">MBA Mondays</a> series.
</p>
<p>
  Fred Wilson is one of the most successful, highly lauded Venture Capitalists of all time. A quick Google search says he's worth $1.7 billion. Suffice to say, he knows a decent amount about business. 
</p>
<p>
  He's written practical articles about the vast majority of material covered at B-school. You don't need to learn about abstract theories to improve your business acumen. To become a competent business person, focus on the lessons and skills you'll actually use.
</p>
<p>
  Like any other skill, you need to build a solid understanding of the fundamentals, and a willingness to Google the hell out of the rest. 
</p>
<h3>Hone Your Skills</h3>
  <p>
    Speaking of skills, you must develop a few of them to <a href="http://joshkaufman.net/seth-godin-linchpin-indispensable/">make yourself indepspensable</a>. 
  </p>
  <p>
    Coding is a skill. Dominating social media is a skill. Being able to foster meaningful relationships is a skill. 
  </p>
  <p>
    Some skills are more marketable than others. Is your goal to get hired? Focus on the more easily marketable skills. Is your goal to bring your business idea to life? Figure out what problem you need to solve, and the easiest way to solve it. Then, develop the skills you need to do that. 
  </p>
  <p>
    Do you want to learn how to code? Start here with <a href="http://www.codecademy.com/">Codecademy</a> or here with <a href="http://ruby.learncodethehardway.org/book/">Learn Ruby the Hard Way</a> for a bigger challenge. 
  </p>
  <p>
    Equipped with a solid understanding of practical business principles and a few hard skills, you are almost ready to take the professional world by storm.
  </p>
  <p>
    Just one thing left to do. 
  </p>

<h3>Build a Network</h3>
<p>
  A super successful entrepreneur gave me a great piece of advice the other day. 
</p>
<p>
  "You should always be building an audience." Makes total sense. You're only going to land your dream job (or get people to use what you're building) if people care about you. 
</p>
<p>
  How do you get people to care about you and your work? By building strong, meaningful relationships.
</p>
<p>
  So the next time you have a minute to spare, turn off your TV. Do a favor for someone. Email a person you look up to and ask them to grab a cup of coffee. Write a blog post about something you're interested in.
</p>
<p>
 Just find some way to add value to someone else's life, and you'll be that much closer to building a meaningful relationship.  
</p>
<p>
  Thanks for reading this far. Is there any way I can help you?
</p>

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
