<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Quick daily exercise') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Quick daily exercise</h2>
            <div class="img-responsive">
            <img src="http://37.media.tumblr.com/0da1e786ac7997b82b072c30b32092ca/tumblr_naj3n71TcT1st5lhmo1_1280.jpg" alt="Bodyweight exercise">
            </div> <!-- hero image -->

    <p>
      I barely have time to brush my teeth every day.
    </p>
    <p>
      I'm not kidding.
    </p>
    <p>
      Within 5 seconds of waking up, I'm on my phone reading emails. I spend the next 10-12 hours working. By the end of the day, I'm practically falling asleep at my computer.
    </p>
    <p>
      The last thing I want to do is brush my teeth.
    </p>
    <p>
      But I do it anyway because I hate when my teeth feel grimy. And, I don't want them to rot out of my skull.
    </p>
    <p>
      In the past few months, I've started treating exercise the same way I do brushing my teeth.
    </p>
    <p>
      I hate it. But, I do it every day for a couple of minutes. 
    </p>
    <p>
      I've lost 26 pounds. I get more work done. I'm happier.
    </p>
    <p>
      I don't feel like a complete piece of shit when I crush a sleeve of oreos or a fistful of donuts.  
    </p>
    <p>
      Not too bad. 
    </p>
    <p>
      So, here are a few tricks to make sure you workout every day:
    </p>
    <p>
      <ol>
        <li>Sleep in your gym clothes</li>
        <li>Workout before 8am</li>
        <li>Set a timer for yourself</li>
        <li>Exercise for no more than 25 minutes</li>
        <li>Do a different workout every day</li>
        <li>Take Sunday off</li>
      </ol>
    </p>
    <p>
      By doing this, you'll make it more convenient to exercise than to not.
    </p>
    <p>
      So, what are you waiting for? Get in shape and be happier.
    </p>
    <p>
      Sign up for <a href="http://yumsweat.herokuapp.com/">daily bodyweight exercises</a> if you need an extra kick in the ass.
    </p>


</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
