<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'The key to perseverance') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">The key to perseverance</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=d0f2537ef83aeef87e2c42f1d6ba99aa" alt="startup perserverance">
            </div> <!-- hero image -->


<p>
  If <a href="http://www.paulgraham.com/badeconomy.html">startups succeed or fail</a> based on the perseverance of the founders, family is the most undervalued startup asset. 
</p>
<p>
  I was in the pits this Wednesday.
</p>
<p>
  I woke up later than I should've, and lossed a precious hour of work time.
</p>
<p>
  3 of 7 customers no-showed on calls I scheduled. The remainder were lukewarm about what we're currently building.
</p>
<p>
  I also ate 14 spicy hot wings and a basket full of waffle fries on a non-cheat day, and spent the rest of my evening in my girlfriend's bathroom.
</p>
<p>
  Leaving a shitty week behind me, I traveled up to my parents' house this weekend. Now all is right in my universe.
</p>

<h3>The force that drives you</h3>
<p>
  I'd be lying if I said money wasn't one of my largest motivations for building a startup. I'm building something that makes a massive number of people happy. ... So that I can earn a pile of cash.
</p>
<p>
  But I'm not materialistic. I don't care about owning a nice car or buying a big house. I just want the ability to take care of my entire family. So that my parents can retire in style. And, so my sister never has to treat me to dinner (or anything else) ever again!
</p>
<p>
  That's what drives me when I'm exhausted or sick of talking to people on the phone. If I was focused on myself, finding excuses would be too easy.
</p>

<h3>Confidence from Mom</h3>
<p>
  None of my friends has any idea what the hell I'm doing. I try explaining, but do any of us actually understand the work one another do?
</p>
<p>
  Translation: my mom is the only person I can complain to. She doesn't understand the intricacies of the business, but she's more than willing to talk about the more human difficulties.
</p>
<blockquote>
   Is it tough working with friends? Does everyone on the team have the same threshold for financial pain? This must be a really stresfull time for you. How long do you see yourself doing this? Treat yourself to dinner on dad and I. I believe in you.
</blockquote>
<p>
  She just gets it. She asks questions to get me thinking about tough topics, yet still gives me a boost of confidence when I'm in a rut. 
</p>
<p>
  And that's exactly what you need to persevere. People who will keep you rooted in reality.
</p>
<p>
  If success finds me, I will have my family to thank. 
</p>



</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
