<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Startup Employee Feedback') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Startup Employee Feedback</h2>
            <div class="img-responsive">
            <img src="http://38.media.tumblr.com/b52faa97279af96f8aa1c80d75a45707/tumblr_n4efdyyCNB1st5lhmo1_1280.jpg">
            </div> <!-- hero image -->


    <p>
      Feedback sucks.
    </p>
    <p>
      No one really likes it.
    </p>
    <p>
      You can appreciate it, like a year later.
    </p>
    <p>
      But that doesn't make it feel any better.
    </p>
    <p>
      I figured I'd share some that I got from one of my awesome interns a couple days ago. I'm viewing it as an early start on the appreciation process.
    </p>
    <p>
      Here it is distilled into one sentence.
    </p>
    <p>
      "I didn't feel like I had a leader to rally around this summer."
    </p>
    <p>
      Knife fully sunken into my heart, I agreed and thanked him for his feedback.
    </p>
    <p>
      Now, I could've freaked out or tried to defend my actions.
    </p>
    <p>
      I'm so happy I didn't. He was completely right. I let down the team. I didn't lead.
    </p>
    <p>
      Here is the big takeaway for anyone building a startup. 
    </p>
    <p>
      When you are building a company with friends, you will come up against some freaking weird internal dynamics.
    </p>
    <p>
      One of our interns this summer was the president of a club that I was heavily involved in during college. The other was my overseeing mentor on a previous project I had worked on. 
    </p>
    <p>
      Fearful of overstepping my bounds, I was unsure of how to act this summer. I didn't want to come off as being a pseudo-authority.
    </p>
    <p>
      Rather than be a leader, something I take great pride in, I put my nose to the grindstone and worked as hard as I possibly could. Forgetting to take time to assess the situation and realize that people were looking to me for guidance, I let 3 months slip by.
    </p>
    <p>
      You will encounter similar situations should you try to build a company some day. 
    </p>
    <p>
      Consider learning from my mistake. 
    </p>
    <p>
      Set the stage for how your want your working relationship to function from the get go. Lead, don't be afraid to take action or step on toes. Always, always ask the people you are working with/for/above how they are feeling about work. Constantly (monthly, or whatever they are, reviews never work). Always seek to improve, first yourself, then as a teammate. 
    </p>
    <p>
      I know I'll learn from the feedback.
    </p>
    <p>
      Otherwise it would have really sucked.
    </p>
    


</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
