<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Doing good work') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Doing good work</h2>
            <div class="img-responsive">
            <img src="http://41.media.tumblr.com/758a5cb9046fde53138ad0f55527ca25/tumblr_ndyfdoR6Wp1tubinno1_1280.jpg" alt= "work">
            </div> <!-- hero image -->

<p>
  Do you feel good about the work you're doing?
</p>
<p>
  Try not thinking about the people you work with or the perks of your job, but the actual work.
</p>
<p>
  Do you feel good about it? Does it help anyone?
</p>
<p>
  I've only ever thought of work as a means to earn a lot of money. 
</p>
<p>
  "Who cares whether or not I'm helping anyone? I will have a family of my own some day. I need money to take care of them. Once I make a lot of money, I can donate some to a good cause."
</p>
<p>
  I've always thought that doing work that doesn't stand to generate a sizable income would be irresponsible.
</p>
<p>
  My position is softening.
</p>
<p>
  I haven't earned money from an employer in over 6 months. I'm still scared shitless. But, I don't think I'm being irresponsible. I know I will make money some day (hopefully sooner than later).
</p>
<p>
  But in the meantime, I've had the opportunity to do work that has a positive impact on a small number of people.
</p>
<p>
  I'm not saving the world, by any means. I'm helping people who aren't normally fit to get <a href="http://www.moretempo.com/#/">15 minutes of exercise</a> every day. Here's an email that just came through as I was writing this post:
</p>
<blockquote>
  Hi Sam,
<br>
I have been checking out the emails every morning and today finally got up and did the quick workout with my girlfriend.  We liked it a lot.  Neither of us have stepped foot in a gym in years (or a lifetime in her case) so this is a great way to get back in the swing of things.  
</blockquote>
<p>
  It definitely won't pay the bills. But, as I struggle to create a source of income, it  will keep me from going completely crazy.
</p>

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
