<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Making yourself happy') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Making yourself happy</h2>
            <div class="img-responsive">
            <img src="http://33.media.tumblr.com/45643a811b04cef7c361b0b595aee441/tumblr_n9hyj3WPl21st5lhmo1_1280.jpg" alt="Making yourself happy">
            </div> <!-- hero image -->


<p>
  The hardest part of entrepreneurship is remaining confident when you're alone, grinding in your apartment.
</p>
<p>
  I've worked alone from my apartment for the past 3 months.
</p>
<p>
  It's one of the more challenging things I've done. 
</p>
<p>
  First off, it's not a nice space at all. It's cramped, smells bad (my fault), and gets very little light. 
</p>
<p>
  Additionally, I have no way to escape my thoughts. No matter how hard I try to avoid them, thoughts of my failures, mistakes, and doubts bounce around in my mind all day long. 
</p>
<p>
  It wreaks havoc on your confidence. 
</p>
<p>
  I enjoyed working out of my apartment for the first couple of months, but it got to be a bit lonely.
</p>
<p>
  And by a bit, I mean devastatingly so.
</p>
<p>
  I would work out of a nearby coffee shop if I could, but I spend the majority of my day talking to people on the phone. No one likes that guy at the coffee shop.
</p>
<p>
  Whatever, enough excuses. Angry at my lack of toughness and dependence on physical space for happiness, I took matters into my own hands. 
</p>
<p>
  I realized that I was far more confident (and productive) on days that I was happy. 
</p>
<p>
  So, I wrote down a list of the '11 ways to be happy every day' a couple of days ago. Every day has been good since. Noticeably improved, my confidence is now a source of strength rather than a painful distraction during my work day. 
</p>
<p>
  Your list will be a bit different than mine. But, the next time you're feeling shitty (about life, your lack of worth at work, whatever), write down a list. Try your best to do everything on the list each day. 
</p>
<p>
  You'll thank me for it. 
</p>
<h3>11 ways to be happy every day</h3>
<ol>
  <li>Learn something new</li>
  <li>Spend time with someone you love</li>
  <li>Read 20 pages of a book</li>
  <li>Make someone else laugh</li>
  <li>Laugh</li>
  <li>Produce something impressive</li>
  <li>Exercise</li>
  <li>Eat something delicious</li>
  <li>Find inspiration</li>
  <li>Be thankful for everything you have</li>
  <li>Discover a new song</li>
</ol>

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
