<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Embrace your hobbies') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Embrace your hobbies</h2>
            <div class="img-responsive">
            <img src="http://38.media.tumblr.com/376a46baffe3444282f3b414a2fd0d46/tumblr_n9hxcf3Bm91st5lhmo1_1280.jpg" alt="embrace your hobbies">
            </div> <!-- hero image -->


    <p>I realized something terrible this week.</p>

    <p>Like, really awful.</p>

    <p>
      For the past 10+ years, I've had 0 hobbies.
    </p>

    <p>
      So, I did what I always do when I realize something is wrong in my life.
    </p>
    <p>
      I blamed my mom.
    </p>
    <p>
      Never one to be steamrolled, mama DeBrule fired back. 
    </p>
    <p>
      I'm going to share our conversation. 
    </p>
    <p>
      If you should find yourself in a state of self-loathing on a saturday morning, feeling like you have no hard skills to speak of and the last few years of your life have been wasted watching tv and not making the world a better place, maybe her wisdom will help you. The way it helped me. 
    </p>
    <p>
      But in the meantime, figure out what your passion is. Then turn it into your hobby. Set aside a few minutes every single day. Tinker and produce something around that passion. In a few years, you'll wake up great at something. If you ever feel like you're struggling with your passion, or even struggling to think of what your passion is, that's good. You're learning. And improving. 
    </p>
    <p>
      Ok, here goes the conversation.
    </p>
    <p>
      I haven't had a hobby for the past 10 years of my life. 
    </p>
    <blockquote>
      <p>
        What about reading? 
      </p>
    </blockquote>
    <p>
      Hobby should be creating, not consuming.
    </p>
    <blockquote>
      <p>
        you might 'consume' a book, but I know for me, reading always sparks an urge to create, change or contribute in some way...
      </p>
    </blockquote>
    <p>
      Do you follow through? 
    </p>
    <blockquote>
      <p>
        Yes, in my own small way. For example, now that I just read the article about the growth mindset, I shared it with people I think it might inform.

        My own internal messages to myself will change, and when I interact with young people, my feedback to them will encourage their "process".

        I hope also to do this with grown children and adults I encounter.

        Maybe I won't change the world, but maybe some interesting ripples will go out when I throw my pebble into the water.
      </p>
    </blockquote>
    <p>
      Ok,enough. 
    </p>
    <p>
      I love you mom. 
    </p>
    <p>
      I didn't say that. But, I do.
    </p>
    <p>
      At some point, when you build something (a startup, a skill, whatever) you'll feel like you're doing everything wrong.
    </p>
    <p>
      Two pieces of advice.
    </p>
    <p>
      Don't give up. Talk to your mom.
    </p>
</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
