<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sam DeBrule | Startup and Entrepreneurship Essays</title>
</head>
<body>
	
	<!-- Bio Container -->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class ="thumbnail">
					<img src="http://37.media.tumblr.com/avatar_6daec06dbd6c_96.png" alt="Sam DeBrule">
				</div>
				<h4>Sam DeBrule</h4>	
				<p>
					I typically write about startups, entrepreneurship, and happiness
				</p>
				<a href="http://samdebrule.com/recent-posts">More posts</a>
				</div>
			</div>

		<!-- Entrepreneurship Essay collection -->
		<div class="row">
			<div class="cold-mid-4">
				<div class="essay-list">
					<h3>Entrepreneurship + Life Lessons, Learned the Hardway:</h3>
					<ul>
						<li><a href="#"></a>Learning is so damn painful</li>
						<li><a href="#"></a>Startup = Rollercoaster</li>
						<li><a href="#"></a>How to quit your job the right way</li>
						<li><a href="#"></a>Quitting your job to work at a startup: The questions you'll be asked</li>
						<li><a href="#"></a>My Personal Mission Statement</li>
						<li><a href="#"></a>Talk to Strangers today</li>
						<li><a href="#"></a>Cut costs and survive after college</li>
						<li><a href="#"></a>Gamble with your boss and fit in at work</li>
						<li><a href="#"></a>Take risks when you have no responsibilities</li>
						<li><a href="#"></a>Get serious about Twitter today</li>
						<li><a href="#"></a>Do something that makes you uncomfortable</li>
						<li><a href="#"></a>How to be happy after college</li>
						<li><a href="#"></a>5 Ways commuting to work will kill you</li>
					</ul>
				</div>
			</div>
		</div>

	</div>






	</div>
</body>
</html>