<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Customer Frustation') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Customer Frustration</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/43/kIlSDateSiyn420ZmgjA_IMG_3768.JPG?q=75&fm=jpg&auto=format&s=65f8ccf84d4359652afb109e363e8d88" alt="Customer Frustration">
            </div> <!-- hero image -->



<p>
  The most important activity for any startup, is <a href="http://paulgraham.com/good.html">making something people want</a>. 
</p>
<p>
  Most of the time, doing just that is not enough.
</p>
<p>
  You have to build an audience, people who are going to actually use what you've created. I'd argue this is the hardest part. 
</p>
<p>
  You must think long and hard about who you actually expect to adopt your technology. Even if a problem is punching them directly in the mouth, would they pick up what you're selling to protect themselves?
</p>
<p>
  Y Combinator put out a <a href="http://www.ycombinator.com/rfs/">"request for startups"</a> the other day that set Twitter ablaze.
</p>
<p>
  Basically, YC wants people to tackle the biggest problems in some of the most bearuacratic, regulations heavy industry. 
</p>
<p>
  Take a second to imagine these industries. What comes to mind?
</p>
<p>
  Here are a few that I think of: Financial Services, Pharmaceuticals, Housing, Education, Automotive. 
</p>
<p>
  What's the most common denominator, the characteristic that makes all of these spaces so resistant to innovation? It could be a few things, no doubt. But, I'd argue the most frustrating blockade is one formed by people of changing the status quo. Even when things are going horribly wrong. 
</p>
<p>
  Before you embark on a journey to build something people will use, consider the type of people you'll be dealing with. Are they passive people, consumed by their problems? 
</p>
<p>
  Or, are they bold, and ever searching for solutions. 
</p>
<p>
  Choose who you target carefully. It will make a big difference. 
</p>



</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
