<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Never Settle for A Job That Sucks') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Never Settle for A Job That Sucks</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/reserve/tlC8KhNJR0CA2xdomLfx_DSC_0358-2.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=4e9db0a7a961e4d49945771128ab53f4" alt="How to find a job you love">
            </div> <!-- hero image -->

<p>
  Damn. On-campus recruiting at college sucked ass. 
</p>
<p>
  I remember grinding in class (in a suit, mind you) until 7:20pm on Tuesdays. After class I would slam a large coffee from Starbucks, then spend 2 hours 'networking' with people I didn't like for companies I'd hate to work for. 
</p>
<p>
  We all did it though. After 4 years of learning in a classroom, and maybe a couple summers interning, we were forced to pretend we knew what we wanted to spend the next 40+ years of our lives doing.
</p>
<p>
  I had no idea. I just followed the pack and went to Banking and Consulting events with the rest of herd. Luckily, I avoided taking a job at any of those places.
</p>
<p>
  If you're still working at a gig you got during, or shortly after college, it's time to reassess your situation. 
</p>

<h3>Set your professional goals</h3>
<p>
  You're no longer in imminent danger of being broke and homless. When you were graduating, you probably took any job that was thrown your way. 
<p>
  Now you're spending the majority of your waking hours doing work that sucks, or that you couldn't care less about. 
</p>
<p>
  Now what? Set some goals. Do you want to become a CEO? Do you hate work, and only do it to make money for your hobbies? Either way, figure out what your main goal is and break it down into small, achievable tasks. 
</p>
<p>
  I wrote a <a href="http://www.samdebrule.com/mission">personal mission statement</a> that guides my actions and <a href="http://www.samdebrule.com/questions">quit my job</a> because it wasn't moving me closer to my goals.
</p>
<p>
  I'm not recommending that you do something as extreme, but you should think about where you plan on going. Otherwise, you'll wake up in 50 years, asking yourself why the hell you spent so much time doing something you hated. 
</p>

<h3>Connect with the people you admire</h3>
<p>
  None of us knew what our current jobs would be like. Internships didn't prepare us. Nor did reading about them online. There's only one good way to figure it out. 
</p>
<p>
  Once you figure out what you want to do, find someone who's already doing it. Introduce yourself. Get coffee, grab a beer, whatever. Just have a meaningful conversation. Learn in 15 minutes whether your imagined career path is something worth pursuing. There's no reason to spend 1-2 years at a job you hate ever again. 
</p>
<p>
  Then find one more person to talk to, just to make sure the first person didn't sugarcoat things or lie to you.
</p>
<p>
  These people won't just save you from years of misery, but they may also hire you, or introduce you to the person who does. 
</p>

<h3>Cut your costs</h3>
<p>
  If you could do any type of the work in the world, what would it be? Hopefully something interesting came to mind.
</p>
<p>
  Why aren't you doing it? Bring on the excuses. 
</p>
<p>
  I don't know exactly what's keeping you from doing what you're passionate about. But I can bet money comes into play somewhere.  
</p>
<p>
  Buy groceries instead of eating out every meal. Opt for the cheaper cable package. Grab a beer instead of a mixed drink at the bar. Save more of your paycheck than you spend next month. 
</p>
<p>
  You will have way more freedom to do whatever the hell you want, and feel less pressure to stick around at a place that makes you miserable.
</p>
<p>
  One of the most influential entrepreneurs of our generation, <a href="https://twitter.com/sama">Sam Altman</a>, even said that "keeping your personal burn rate low probably 10x's interesting opportunities available to you."
</p>


<h4>
  Are you happy at your job? If not, figure out what you want to do, and make it happen.  
</h4>

<p>
  <i>P.S. If you enjoyed this article, join my email list so I can send you more. I’ll share a weekly blog post with some food for thought on the new career landscape and strategies to improve yourself.
</i>
</p>


</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
