<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Learning to code') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Learning is so damn Painful</h2>
            <div class="img-responsive">
            <img src="https://s3.amazonaws.com/ooomf-com-files/LGhxuAbT5Wop4JYcrMpV_IMG_3808.jpg" alt="Learning is painful">
            </div> <!-- hero image -->


    <p> Learning something new is absolutely brutal. </p>

    <p> Think about it. </p>

    <p> Have you learned a new skill recently? </p>

    <p> If you're anything like me, the answer is no. </p>

    <p>
      We all got good at studying, memorizing information, and reguritating it on a test in school. But we were forced to do that.
    </p>

    <p>
      When's the last time you spent 1-2 hours a day, for more than a week, training a new skill? Something that you actually wanted to learn.
    </p>
    <p>
      Like, really stepped out of your comfort zone.
    </p>
    <p>
      About a month ago, I wouldn't have been able to name a time in recent memory I actually took it upon myself to get good at something new. 
    </p>

    <p>
      And it's because I forgot how painful it was to learn. 
    </p>

    <p>
      I only remember being good at riding my bike. I don't remember struggling on training wheels, my mom guiding me with her hand on my back. 
    </p>

    <p>
      I've heard stories, but I don't remember the time my dad took me down my first massive hill, only to bring me home bloodied and screaming after I flew over my handlebars.
    </p>

    <p>
      I wish I remembered that pain more clearly. 
    </p>

    <p>
      Maybe, I'd be able to play the guitar by now. My parents gave it to me for a birthday a little while back, but I gave up on it after about a week of practice.
    </p>

    <p>
      It didn't come easy to me, so I set it aside.
    </p>

    <p>
      I could go on and on with a list of skills I gave up on once they didn't come easy to me.
    </p>

    <p>
      But I won't.
    </p>

    <p>
      The reason I'm writing this, and the reason I haven't been writing more blog posts, is because I've spent ~2 hours everyday learning <a href="https://medium.com/how-i-learned-ruby-rails/how-i-trained-to-learn-rails-e08c94e2a51e">Ruby on Rails</a> for the past month.
    </p>

    <p>
      I've slowly begun to understand more and more. Last night I put the tutorial book down, and set out to build something on my own. Without training wheels guiding me.
    </p>

    <p>
      I fell flat on my face. I flew over my handlebars. I went to sleep pissed off, agonizing over the fact that I had wasted about 60 hours over the past month, having learned nothing at all.
    </p>

    <p>
      This is the point where I would normally give up.
    </p>

    <p>
      But I won't this time. Because everything worth learning rips the skin off your knees at some point. 
    </p>


</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
