<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Listen To These Startup Experts') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Listen To These Startup Experts</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/46/unsplash_52c319226cefb_1.JPG?q=75&fm=jpg&auto=format&s=3d1ae11e42d98eac6dbcfccfb013d81b" alt="startup entrepreneurs">
            </div> <!-- hero image -->

<p>
  Startups are lonely.
</p>
<p>
  There's really no way around it. You want to start with a small team, build something awesome, then grow the team to deliver more awesomeness to more people.
</p>
<p>
  But one of the worst things you can do is 'play house' and <a href="https://www.youtube.com/watch?v=ii1jcLg-eIQ">grow your team for the hell of it</a>.
</p>
<p>
  Since you're starting off small, no one has a a clue of what you're actually dealing with. Regardless of what anyone says, they have no idea what your business does, the professional obstacles facing you, or even the personal ones. And therein lies the loneliness.
</p>
<p>
   I've turned to Twitter. My feed has transformed into a stream of personal advice, hard lessons learned, and startup successes from people who have (or are) kicking ass and sharing the knowledge.
</p>
<p>
  Whether you're building a startup, new to the tech scene, or just curious, you can benefit from all of the people below. If you're not on Twitter, what are you waiting for? It's more imporant than LinkedIn for landing a job in tech. More on that in a future post.. 
</p>

<h3>The Entrepreneurs</h3>
<p>
  <blockquote class="twitter-tweet" lang="en"><p>Banana Republic launched a style called &quot;Startup Guy&quot;. If Old Navy is smart, they&#39;ll launch &quot;Actual Startup Guy&quot;.</p>&mdash; Aaron Levie (@levie) <a href="https://twitter.com/levie/status/491405994333720576">July 22, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<p>
   <a href="http://www.inc.com/magazine/201312/eric-markowitz/aaron-levie-entrepreneur-of-the-year.html">Aaron Levie</a> is the founder of 28 year old founder of Box, which is worth ~$1.2 Billion. He typically tweets about startup trends and pokes fun at stale industries. He seems like an all-around hilarious brilliant dude.
</p>
<p>
  <a href="http://ryanhoover.me/">Ryan Hoover</a> is one of the hottest founders in the game right now. He created Product Hunt which is a site investors, entrepreneurs, and tech hobbyists use to find and discuss new products every day.
</p>
<p>
  He's a good follow if you want to watch someone who is crushing the startup world, yet painfully honest about its hardships too. He also drops knowledge on how to accomplish big startup milestones. Like, getting into <a href="http://www.ycombinator.com/">YCombinator</a>:
</p>
<p>
  <blockquote class="twitter-tweet" lang="en"><p>3 pieces of advice for <a href="https://twitter.com/ycombinator">@ycombinator</a> applicants. <a href="http://t.co/vyiqJvK7yG">pic.twitter.com/vyiqJvK7yG</a></p>&mdash; Ryan Hoover (@rrhoover) <a href="https://twitter.com/rrhoover/status/515889083168477184">September 27, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<p>
  I have no idea who <a href="https://twitter.com/StartupLJackson">Startup L. Jackson</a> is, but the dude is absolutely hilarius. His twitter tagline is "Don't be telling me about social media. I'm the social media fucking master."
</p>
<p>
  Needless to say, it's a satirical account that roasts the (oftentimes ridiculous) nature of startups. Follow for a laugh.
</p>
<p>
  <blockquote class="twitter-tweet" lang="en"><p>The iPhone 6 Plus will usher in an era of man purses across the nation. You hear it here first.</p>&mdash; Startup L. Jackson (@StartupLJackson) <a href="https://twitter.com/StartupLJackson/status/514633697635495936">September 24, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

<h3>The Investors</h3>
<p>
  <a href="http://www.paulgraham.com/articles.html">Paul Graham</a> is Yoda. Essentially. He probably knows more than anyone on the planet about what makes a startup successful. Follow him for tips on building companies, being happy, and just general philosophy. 
</p>
<p>
  <blockquote class="twitter-tweet" lang="en"><p>At first the question is &quot;What would be cool to build?&quot; Then it&#39;s &quot;What do people want?&quot; Then it&#39;s &quot;What gets you growth?&quot;</p>&mdash; Paul Graham (@paulg) <a href="https://twitter.com/paulg/status/504692535726338049">August 27, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<p>
  Sam Altman is the new master of Silicon Valley. He recently became president of YCombinator. Which means, he gets to work with/invest in, some of the most rapidly growing startups in the world.
</p>
<p>
  In his spare time, he's teaching a class on <a href="http://startupclass.samaltman.com/courses/lec01/">How to Start a Startup</a> at Stanford, and posts all the videos online. Follow him for a peak at investing trends and startup knowledge.
</p>
<p>
  <blockquote class="twitter-tweet" lang="en"><p>the people who do the least interesting things spend the most time calling other people&#39;s startups crappy</p>&mdash; Sam Altman (@sama) <a href="https://twitter.com/sama/status/501907657700028416">August 20, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<p>
  <a href="http://avc.com/">Fred Wilson</a> is the startup king of New York. He's a Venture Capitalist who co-founded Union Square Ventures. They've invested in a few companies that have done moderately well: Twitter, Tumblr, Zynga, foursquare, Etsy, and Codecademy to name a few. 
</p>
<p>
  Follow to have your mind blown about startups, life, and links to <a href="http://avc.com/">his spectacular blog</a>.
</p>
<p>
  <blockquote class="twitter-tweet" lang="en"><p>&quot;When you are thrust into conversation with someone, see how long you can hold off before talking about what they do for a living.&quot; <a href="https://twitter.com/ftrain">@ftrain</a></p>&mdash; Fred Wilson (@fredwilson) <a href="https://twitter.com/fredwilson/status/499644451183419392">August 13, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>

<h4>
  Do you want to get involved in startups? Reach out to me <a href="https://twitter.com/SamDeBrule">@samdebrule</a> and I'll do everything in my power to help.
</h4>

<p>
  <i>P.S. If you enjoyed this article, join my email list so I can send you more. I’ll share a weekly blog post with some food for thought on the new career landscape and strategies to improve yourself.
</i>
</p>



</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
