<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Personal Mission Statement') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Personal Mission Statement</h2>
            <div class="img-responsive">
            <img src="http://www.themasterpiececards.com/Portals/40667/images/henry-ossawa-tanner-thankful-poor-resized-600.png">
            </div> <!-- hero image -->

	 <p>I am at my best when I am focused on a goal and motivated to make it happen..</p>
  <p>I prevent times when I am fixated on other people's motivations and behavior..</p>
  <p>I enjoy my work by finding employment where I can build things that have a large impact. I enjoy creating processes that scale and increase the impact of an individual's efforts..</p>
  <p>I find enjoyment in my personal life through spending meaningful time with friends and family. I spend sufficient time alone; reading and becoming more knowledgable..</p>
  <p>I find opportunities to use my natural talents and gifts such as empathizing with others, being a leader, working hard, speaking confidently, and making people laugh..</p>
  <p>I can do anything I set my mind to. I build companies that have massive positive impacts on the world..
  </p>
  
  <p>
    My life's journey is creating a sustainable, scalable, highly profitable business that positively impacts the world. I feel both an internal drive and responsibility to make this happen. I succeed because I want to make the people who love and believe in me proud. The result is being a leader that millions look up to and are inspired by..
  </p>
  <p>
    I am a person who is genuine and truly concerned with the well being of others. I am kind, loving, and willing to sacrifice anything for my family and friends. I am never too busy to help. I am a funny and magnetic person who others love to be around. I am a visionary whom others look to for inspiration, motivation, and a path forward. I am an incredible brother, son, boyfriend, and friend..
  </p>
  <p>
    My most important future contribution to others is my unwavering love, commitment, and tireless devotion..
  </p>

  <h3>I am constantly focused on:</h3>
    <p>Being completely honest, even when it makes other people uncomfortable
    </p>
    <p>
      Advocating for myself, and refusing to submit simply for the sake of making someone else happy.
    </p>
    <p>
      Remaining confident, and not allowing others' criticisms or doubt to derail me.
    </p>

  <h3>I strive to incorporate the following attributes into my life:</h3>
      <p>Hardworking</p>
      <p>Kind</p>
      <p>Highly Principled</p>
    </ul>
  
  <h3>I constantly renew myself by focusing on the four dimensions of my life:</h3>
      <p>Physical: Eating well and exercising vigorously at least 3 times per week.</p>
      <p>Spiritual: Always treating others with kindness and respect.</p>
      <p>Mental: Always learning new skills.</p>
      <p>Social/Emotional: Surrounding myself with positive, loving people.</p>
   

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
