<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Meaningful Tech Networking in your 20s') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Meaningful Tech Networking in your 20s</h2>
            <div class="img-responsive">
            <img src="https://unsplash.com/photos/mVhd5QVlDWw/download" alt="tech networking events">
            </div> <!-- hero image -->


<p>
  Tech networking events are terrible for networking.
</p>
<p>
  Do you agree?
</p>
<p>
  I've been uncomfortable at every meetup I've been to. Here's how it normally goes.
</p>
<p>
  Get lost finding your way to the event. Smile awkwardly and say something weird to people checking you in. Grab a coffee, soda, or water to hold in your hand (not because you're thirsty, but because holding something makes you less nervous). Walk a few laps  until you find someone who looks as hopelessly lost and alone as you. Shoot the shit until the conversation runs dry. Try (unsuccessfully) to break into a group of people standing in a circle. Give up. Find a seat. Listen to speaker. Leave as soon as possible.
</p>
<p>
  It's awful, and not how networking should be done. 
</p>
<p>
  I learned the hard way so you don't have to. If you're breaking into tech, trying to make a name for yourself, or just wanting to meet interesting people, here's how to do it.
</p>

<h3>Targeted networking 101</h3>
<p>
  Don't go to tech networking events to network. Go to listen to interesting guest speakers. Because, let's be honest, you won't make a single meaningful connection.
</p>
<p>
  The trick of <a href="http://blog.idonethis.com/introvert-networking/">succeeding at networking</a> isn't about nabbing as many business cards as your hands can hold. It's about meeting one person you really connect with, then doing it again. And again.
</p>
<p>
  Save yourself the heartache. Don't fret about finding the best meetup to go to. Instead,
  find people you would like to meet. 
</p>

<h3>Find companies you admire</h3>
<p>
  This section was going to be called "Find interesting people." Unfortunately, you can't always tell if you'll like someone until you meet them in person. 
</p>
<p>
  You will know if a company is interesting just from it's online presence. So start here. Use the resources at your disposal.  If you're a New Yorker, use <a href="http://www.digital.nyc/">Digital NYC</a>, <a href="http://www.crunchbase.com/search">CrunchBase</a>, and <a href="http://wearemadeinny.com/">Made in NY</a> to find cool startups. 
</p>
<p>
  Once you've done that, head over to LinkedIn to check out the actual people who make up a company. Identified someone you'd like to meet? It's time for the next step.
</p>

<h3>Introduce yourself to interesting people</h3>
<p>
  Walking up to strangers at tech events is strange and uncomfortable. Sending someone you've researched a quick email is not. 
</p>
<p>
  Pretend you're in sales and your goal at a networking event would be to meet some people doing Business Development. Save yourself 3 hours and do it all online.
</p>
<p>
  Remember one of the interesting people you tracked down on LinkedIn above? Send them a <a href="http://venturebeat.com/2014/10/03/googles-eric-schmidt-explains-the-1-email-habit-of-the-most-effective-people/">quick email</a> with a line about yourself and why you want to meet. 
</p>
<p>
  Will they be totally creeped out that a random guy just emailed them? Of course not (maybe a little).
</p>
<p>
  And that's it. Grab a cup of coffee and make a real personal connection with someone you look up to. No tech networking event required.
</p>

<h3>Keep in touch on social media</h3>
<p>
  So just making a personal connection with someone isn't enough. You have to keep the relationship alive!
</p>
<p>
  The last thing anyone wants is an email saying "Hey man, just wanted to keep in touch. Hope all's well."
</p>
<p>
  You just wasted everyone's time. Tweet at the person every once in a while instead. Share an article you think they'd enjoy. It's a great way to stay on top of mind, in a completely natural way.
</p>
<p>
  Get out there and meet some awesome people. And do them some favors along the way. It'll make you feel good, and benefit everyone in the long run. 
</p>

<h4>
 So what's holding you back from meeting interesting people? Reach out to me <a href="https://twitter.com/SamDeBrule">@samdebrule</a> and I'll do everything in my power to help.  
</h4>

<p>
  <i>P.S. If you enjoyed this article, join my email list so I can send you more. I’ll share a weekly blog post with some food for thought on the new career landscape and strategies to improve yourself.
</i>
</p>



</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
