<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Podcasts will flip your world on its head') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Podcasts will flip your world on its head</h2>
            <div class="img-responsive">
            <img src="http://splitshire.com/wp-content/uploads/2014/06/SplitShire_IMG_5915-800x500.jpg" alt= "podcasts">
            </div> <!-- hero image -->

<p>
  What makes someone successful?
</p>
<p>
  It's a question I've been asking myself a lot lately. 
</p>
<p>
  Is it the ability to work hard? Raw intelligence? Luck? Good looks? Some x-factor?
</p>
<p>
  I'd guess that millions of <a href="http://www.inc.com/lolly-daskal/the-10-most-important-attributes-of-highly-successful-people.html">articles</a> have been written about it. I've read plenty of them, and still feel no better off.  
</p>
<p>
  Before you achieve some level of success, it feels like something is being left out of the articles. I have this trait, and that one too, so why do I feel like I'm constantly falling short?
</p>
<p>
  It almost feel like all of the articles, all of the successful people, are keeping hush hush about some secret. If I could just figure it out, I'd be able to use it to propel myself towards success. 
</p>
<p>
  Here's where podcasts come in.
</p>
<h3>How podcasts have changed my life</h3>
<p>
  For those who don't know, a <a href="http://en.wikipedia.org/wiki/Podcast">podcast</a> is a digital audio file you can download from the internet.
</p>
<p>
  Podcasts have been around since ~2004, but I didn't start listening until a few months ago.
</p>
<p>
  The ones I listen to are typically successful entrepreneurs interviewing even more successful entrepreneurs (more on my favorite ones in a bit).
</p>
<p>
  Now, they've seeped into every crack of my life. I listen to podcasts when I'm exercising, walking to the train, doing mindless work, whenever. They've almost entirely replaced <a href="http://www.samdebrule.com/soundtrack">music in my life</a>.
</p>
<p>
  The difference is that I feel like I've accomplished something every time I'm done listening. Music doesn't give me that.
</p>

<h3>There are no more secrets</h3>
<p>
  Ok, but here's the best part of podcasts.
</p>
<p>
  You know that feeling you get when you're reading a great fiction novel, when you're transported from your current (real) universe to the imaginary one in which the story is taking place?
</p>
<p>
  Podcasts have a similar effect on me. But instead of being thrust into some imaginary situation, I'm gaining an hour of insights from someone who wouldn't take 15 seconds to respond to an email from me.
</p>
<p>
  I have the same access to secrets and tips that only the most successful people in the world were privy to before podcasts. Secrets and tips that even the most perfectly crafted Google search wouldn't yield. 
</p>
<p>
  So what the hell am I actually listening to?
</p>

<h3>The 3 podcasts you need to listen to</h3>
<p>
  In order, the best podcasts are: <a href="http://fourhourworkweek.com/podcast/">The Tim Ferris Show</a>, <a href="http://hearstartup.com/">Startup Podcast</a>, and <a href="https://itunes.apple.com/us/podcast/the-james-altucher-show/id794030859?mt=2">The James Altucher Show</a>.
</p>
<p>
  The Tim Ferris show features interviews that deconstruct world-class performers in all sorts of fields (investing, film, business, sports) so you can emulate their success.
</p>
<p>
  Startup Podcast features the personal struggles of an entrepreneur on the brink of massive success.
</p>
<p>
  The James Altucher Show explores the process of being happy and fast tracking your own success.
</p>
<p>
  They're all incredible. Give them a listen.
</p>
<p>
  You'll be disgusted with yourself when you think how long it took you to get on the podcast wagon.
</p>

<p>
  <i>P.S. There's a lot more where this came from. Join my email list so I can send you everything you need. I’ll share a weekly blog post with some food for thought on the new career landscape and strategies to improve yourself.
</i>
</p>



</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
