<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'How to make YOURSELF proud') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">How to make YOURSELF proud</h2>
            <div class="img-responsive">
            <img src="https://ununsplash.imgix.net/uploads/1412825195419af52b492/8bc72ed7?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="proud">
            </div> <!-- hero image -->

<p>
  "You can't watch the TV until your homework is done."   
</p>
<p>
  I never once heard that from my parents growing up.
</p>
<p>
  I was the type of kid who would come home from school, grab a quick snack, and tackle my homework right away.
</p>
<p>
  Not much as changed. Both my friends and girlfriend (god bless them both for putting up with me) have made comments about not seeing me enough lately.
</p>
<p>
  It's probably true. I don't enjoy going out as much as I used to. Even on weekends, I feel myself getting anxious if the afternoon rolls around and I've done nothing but lay around. 
</p>
<p>
  I always feel like I should be accomplishing something meaningful. Not for some sort of external approval, but for my own feeling of self-worth.
</p>
<p>
  So how do you make yourself proud?
</p>

<h3>Be your harshest critic</h3>
<p>
  There's no worse feeling than having your confidence dashed.
</p>
<p>
  It usually happens when someone makes a rude comment.
</p>
<p>
  You do something your really proud of. And someone, who has no idea how hard you worked to create something, finds a way to diminish your achievement. It sucks.
</p>
<p>
  But there's one way you can prevent that from ever happening.
</p>
<p>
  It's by being tougher on yourself than anyone else could ever be. 
</p>
<p>
  Built something interesting? Make it better. Did something great at work today? Do a better job tomorrow. Treated your girlfriend well all week? Treat her better next week.
</p>
<p>
  You get it. Never get to a place where you're satisfied with something you've done. You can take brief pauses to admire your work, but don't think for a second that you're done improving.
</p>
<p>
  Instead of giving someone else the opportunity to find fault, find it yourself, and make the improvement. 
</p>

<h3>Test your limits</h3>
<p>
  I ran 10 miles on the treadmill yesterday and I absolutely hate running.
</p>
<p>
  I refuse to look at how far I've run on the treadmill until I think I'm about a mile from my stopping point. Otherwise, my body starts screaming at me to get off with every stride I take. 
</p>
<p>
  I have thunder thighs. I'm not built to run long distances. But, I refuse to accept that.
</p>
<p>
  I ran 10 miles on the treadmill yesterday because I'm training to run a marathon. Not because I enjoy running, but because I want to prove to myself that I can overcome a challenge that I have no business overcoming.
</p>
<p>
  When I complete the marathon, I will be proud of myself. In the meantime, I also see the benefits of training finding their way into my work life.
</p>
<p>
  As I run, I always find myself having to push through discomfort. I have to run a bit further than I want to every day I exercise.
</p>
<p>
  Because of that, I can push through exhaustion at the end of the day and squeeze out an extra bit of work. I would never be able to do that if I wasn't constantly stretching myself and seeking out my limits.
</p>
<p>
  But no matter how far you stretch yourself, you'll never be pround unless you do this one last thing.
</p>

<h3>Define your goals</h3>
<p>
  You need something to work towards.
</p>
<p>
  Set outrageous, but achievable goals. 
</p>
<p>
  For me, it's running a marathon and building a company that is worth X amount of money (it's a secret). Both goals are outrageous and achievable. For you, maybe the goal is making a certain amount of money every year.
</p>
<p>
  Whatever the goal is, make sure it's something that makes you uncomfortable to think about.
</p>
<p>
  You may never hit it, but that's not the point.
</p>
<p>
  As you're trying to achieve this outrageous goal, you'll start growing in ways that you never imagined. Hell, you may even realize the original goal you set was the wrong one. Maybe, it's not the salary you care about, but it's doing a particular kind of work or helping a specific population of people.
</p>
<p>
  You'll make discoveries that you couldn't even have envisioned if you kept doing work that was acceptable by your old standards.
</p>
<p>
  Figure out what these goals are, and how far you are willing to go to achieve them. I guarantee that even if you fall a bit short, you'll be proud of what you've done. You'll be proud of yourself.
</p>
<p>
  After you're done patting yourself on the back, set a crazier goal, and go after it. 
</p>

<p>
  <i>P.S. If you enjoyed this article, join my email list so I can send you more. I’ll share a weekly blog post with some food for thought on the new career landscape and strategies to improve yourself.
</i>
</p>

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
