<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Questions when you quit your job') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Questions you'll hear when you quit your job</h2>
            <div class="img-responsive">
            <img src="https://s3.amazonaws.com/ooomf-com-files/4fjHtYHdRlSemICxjjBu_IMG_8424.jpg" alt="Quit your job">
            </div> <!-- hero image -->

	<p>
    Leaving your job is easy.
  </p>
  <p>
    Answering the same questions over and over is not. 
  </p>
  <p>
    If you do leave your job to work on a super early stage startup, your family and friends will be worried.
  </p>
  <p>
    They'll think you're crazy. That you're going to be homeless. That you might kill yourself. 
  </p>
  <p>
    This will lead them to ask a lot of questions. Becasue they love you. Everyone will have the same questions. 
  </p>
  <p>
    I've written them down so you'll be prepared to answer them. And, so you'll have one less reason to go crazy.
  </p>
  <p>
    Instead of answering the same questions over and over, I wish I could just read them this quote: 
  </p>

  <blockquote>"I'm going to forgo the normal, safe route, where there's a clear path. I'm going to take a higher risk and go for a higher reward. Im going to put myself in the position of being an entrepreneur by having ideas and trying things, and not giving up when I fail." - <a href="http://www.crunchbase.com/person/james-hong">James Hong</a></blockquote>

  <p>
    But I can't. That would be rude.
  </p>

  <p>
    So here are the questions you'll be asked. 
  </p>

  <h3>Could you have done this on the side?</h3>
  <p>
    I don't know. Maybe. I tried. I worked from 4:30am until 6am then from 6pm-9pm. 
  </p>
  <p>
    Forget the lack of sleep. I wasn't as effective as I needed to be. <a href="http://petersimpson.me/playground/ventfull/">Ventfull</a> is focused on the college market. So, I was reaching out to university faculty, and needed to speak with people on the phone (during normal working hours). 
  </p>
  <p>
    That wasn't possible.
  </p>
  <p>
    So, no. I couldn't have done it on the side.
  </p>
  <p>
    Besides, I want to go all in. I do my best work when I am laser-focused on a task ahead. Spending 10 hours a day doing work I'm not passionate about would have made that impossible. 
  </p>
  <p>
    One down. Three to go.
  </p>

  <h3>You aren't getting paid?</h3>
  <p>
    No. It's awful, I know. I'm really going out on a limb and taking 100% equity.
  </p>
  <p>
    I've saved enough money so that I can do this and still survive. The 
    <a href="http://samdebrule.com/post/80966194112/take-risks-before-you-have-responsibilities">timing is right to take risks</a>. I don't have a wife or kids. I'm 23 years old. 
  </p>
  <p>
    I'm going to give every ounce of effort I can muster to make this happen. If it doesn't, I will find another job. I will save more money. And then, I'll make it work next time. 
  </p>

  <h3>You're only working with HOW many people?</h3>
  <p>
    2 other people. 3 in total. Lean and mean. It's like saying you work with a large number of people legitimizes your job choice in the eyes of concerened parents (not your own).
  </p>
  <p>
    Not for me. I would rather work with 2 <a href="www.linkedin.com/pub/peter-simpson/61/a6/884">awesome</a> <a href="www.linkedin.com/pub/joe-stein/16/a76/b34">people</a> than a team of 5,000 subpar co-workers.
  </p>
  <p>
    They're brilliant, hardworking, and flexible. Can you say that about everyone you work with?
  </p>
  
  <h3>What does the company do?</h3>
  <p>
    This question doesn't seem like a difficult one.
  </p>
  <p>
    But it's fraught with judgement. 
  </p>
  <p>
    This is how someone sizes your decision up in 15 seconds.
  </p>
  <p>
    What they are actually saying is, "Is what you're doing legitimate?"
  </p>
  <p>
    There is no correct answer.
  </p>
  <p>
    My typical response is, "Ventfull is an event notification service that gives schools a simple and engaging infrastructure to keep their students informed of what's happening on campus."
  </p>
  <p>
    WRONG
  </p>
  <p>
    You either give an in-depth answer and confuse them, or you oversimplify it and they think it's a bad idea. 
  </p>
  <p>
    What you really want to say is, "We have an initial idea which is 'x,' but we  only care about making something that people want and continuing to grow. The idea will change 100 times."
  </p>

  <p>
    Hopefully, I just made your life a little bit easier.
  </p>

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
