<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'How to quit your job') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">How to quit your job the right way</h2>
            <div class="img-responsive">
            <img src="https://s3.amazonaws.com/ooomf-com-files/wkjFpgTwSPnxksbAxnkA_IMG_5192.jpg" alt="How to quit your job">
            </div> <!-- hero image -->

<p>I put in my 1 month at <a href="https://chartbeat.com/">Chartbeat</a> on May 1st.</p>

<p>I've heard too many horror stories of people saying the wrong thing.</p>

<p>Or bosses freaking out.</p>

<p>So I asked a few people for advice.</p>

<p>Summed up: 1. Don't surprise your boss. 2. Say exactly what you plan to do with the remainder of your time in the office.</p>

<p>I gave my boss a full month's notice before I left (so he had sufficient time to find a replacement.) And, I committed to working hard and training other people in my position until the day I left.</p>

<p>Here's the email he sent to the office when he broke the news.</p>

<blockquote>
<p>Sam DeBrule joined us soon after he graduated from Brown. He wanted to help us tell people how Chartbeat was changing the world. Sam came in and demolished it. He became the CEO of finding more people that need Chartbeat.</p>

<p>A true entrepreneur, Sam reverse engineered his success and has recently worked to replicate his skills with the amazing SDR team we have. Sam is taking the entrepreneurial spirit he came in with and the skills he honed while at Chartbeat and will be using them to build <a href="https://www.ventfull.com/">a company</a> with schoolmates from Brown.</p>

<p>Please join me in thanking Sam for killing it this past year and congratulating him on pursuing his dream. Thank you Sam for always being dedicated and working so hard to build our Chartbeat vision. You always have a place here.</p>
</blockquote>

<p>It feels awesome to have left on a positive note.</p>
   

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
