<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Taking risks') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Take risks when you have no responsibilites</h2>
            <div class="img-responsive">
            <img src="https://pbs.twimg.com/media/BA66oDTCAAEaSig.jpg:large" alt="Sam DeBrule">
            </div> <!-- hero image -->
<br>

<p>I have no responsibilities.</p>

<p>My parents take care of my dog. My girlfriend picks my clothes. My Dad does my taxes.</p>

<p>I can barely feed myself.</p>

<p>I spend the majority of my waking hours at work.</p>

<p>But other than that, no one really depends on me to get anything done.</p>

<p>That won't be the case in 10 years.</p>

<p>Or even 5.</p>

<p>These are the prime years of our lives. Not because we can drink 30 beers without being hungover in the morning (or dying).</p>

<p>But because we have the freedom to do major things that we will be proud of. The freedom to take massive risks.</p>

<p>Take a few seconds to think about it. What are you going to accomplish this year that you'll be proud of? What will you check off your bucket list?</p>

<p>Here's a bit of motivation so you start moving in the right direction.</p>

<h3>Don't be fearful</h3>

<p>If you're reading this right now, I doubt you have any major responsibilities either.</p>

<p>You're probably in college.</p>

<p>Or you just graduated, and you're getting settled at a new job.</p>

<p>You're most likely still on your parents cellphone plan. Right?</p>

<p>So the timing is perfect for you to take a huge risk. You'll always have an opportunity to find another entry-level job. But will you always have the chance to do something that makes you uncomfortable. Something that will change your life?</p>

<p>If you do decide to take a risk, be sure it's something that makes your friends and family uncomfortable. Make sure its something that they will shake their heads at. Something that will have them offering sage advice because they want what's best for you.</p>

<p>Do something you've always wanted to do. Do something where you have the chance of falling flat on your face.</p>

<p>You won't regret it after the fact. Hell, I bet you'll have a way happier life because of it.</p>

<p>And if all else fails, you'll have a compelling story to tell an interviewer.</p>

<p>So stop being fearful. You have nothing to lose.</p>

<h3>Stop racing towards safety</h3>

<p>Why are you in such a hurry to be average anyway?</p>

<p><a href="http://andrewdumont.me/seeking-adversity">Facing adversity</a> will improve your life and career. Climbing rungs up a ladder won't.</p>

<p>Why didn't you take time to travel the world before you went to college? Why are you working for a company that doesn't matter to you, doing something that doesn't mean anything?</p>

<p>Don't tell me it's because it's your first job, and your first job isn't supposed to be fun.</p>

<p>That's complete bullshit. If you want to set me off on a tirade, I dare you to <a href="https://twitter.com/SamDeBrule">Tweet at me</a> saying "your first job isn't supposed to be fun."</p>

<p>Anyway.</p>

<p>I bet you can trace your motivation to follow a standard path back to meaningless conversations you've had with people you don't care about.</p>

<p>You see a friend's parent, a distant family member, someone you know (who you aren't close with).</p>

<p>Every conversation opens up with something like: "How did you do on your SATs? Where are you going to college? How's school? Do you have a job yet?"</p>

<p>Whether or not you admit it, the pressure builds up over time. You feel shitty if you don't have an answer.</p>

<p>It wears you down.</p>

<p>And there you go. You just settled for doing something you don't care about because of the pressure.</p>

<p>So the next time you feel like a failure.</p>

<p>Or that you should be doing something that you aren't.</p>

<p>Ask yourself why you really feel that way.</p>

<p>Is that job the one you really wanted? Or the one you took just to tell a suburban mother that you have one?</p>

<p>If it's the latter, it's time for a change.</p>

<h3>Start Failing today</h3>

<p>There's nothing you could do today, better for your future success, than failing miserably.</p>

<p>Figure out what you care about most. What you want to go after.</p>

<p>Then do it. Don't make any excuses. Just go out and do it. Do whatever is required.</p>

<p>If you set the bar high enough for yourself, you should fail at your first attempt. And probably a few attempts after that.</p>

<p>I tried to build <a href="http://www.ad60.com/2013/01/18/launched-motiv/">two</a> <a href="http://www.winyata.com/">startups</a>.</p>

<p>They couldn't have been bigger failures. But, I learned more from those two attempts than I did from 4 years of studying business and entrepreneurship at Brown.</p>

<p>So, start failing today. It will bring you closer to your ultimate goal and accelerate your learning process.</p>

<p>Failure should not deter you from taking a risk.</p>

<p>It's going to happen. But if you learn from failure, and embrace it, you'll be that much closer to doing whatever it is that you care most about.</p>

<h3>Thank yourself when you're 40</h3>

<p>There are two types of risks you can take. The risk of inaction, or the risk of action.</p>

<p>If you're unhappy, with whatever you're doing in life, you have the choice to keep doing it. But don't expect anything to change.</p>

<p>What are you sacrificing if you take this risk of inaction? If you do nothing to better your circumstances. Your happiness? Your satisfaction? Your ability to reach your full potential? You'll always feel like you've missed out on a huge opportunity.</p>

<p>Now, let's focus on the risk of action.</p>

<p>Say you've always wanted to become a photographer. What the f*ck are you waiting for?</p>

<p>Take photos on the weekend. Edit them when you get home from work. It's that simple.</p>

<p>The only things you'll miss out on are drinking with friends and watching television.</p>

<p>When you look back on your twenties do you want to say, "Thank god I watched so much TV" or "Thank god I took a risk and figured out what I love to do"?</p>

<p>It's up to you.</p>


</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
