<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'How to Find The Right Startup') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">How to Find The Right Startup</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/reserve/tlC8KhNJR0CA2xdomLfx_DSC_0358-2.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=4e9db0a7a961e4d49945771128ab53f4" alt="startup rocketship">
            </div> <!-- hero image -->

<p>
  A friend texted me a couple days ago after reading one of my blog posts.
</p>
<p>
  Which felt nice, because I was certain my Mom was my only regular reader. But anyway, he's super bummed out at his job and starting to realize that "Coporate America is not for me... I basically sit at a desk all day."
</p>
<p>
  Admittedly, that sucks if it's not what you want to do. But working at a startup doesn't guarantee professional fulfillment or happiness. 
</p>
<p>
  Working at a shitty startup <a href="http://www.businessinsider.com/inside-story-of-clinkle-2014-4">can be worse</a> than slaving away in Corporate America at times.
</p>
<p>
  So before you leap into the startup world, make sure you know what you're looking for. Otherwise, it won't be an escape from what you hate; it'll just be another painful detour.  
</p>
<p>
  If you want to join an early-stage startup for the express purposes of <a href="http://www.paulgraham.com/wealth.html">getting rich</a> and having a lot of responsibility, look no further. There's only one thing you remember when looking for a startup to work for: <b>Strap yourself to a fucking rocketship.</b>
</p>
<p>
  So how do you choose a rocketship and not a sinking ship?
</p>

<h3>Find a growing team</h3>
<p>
  Find a team that is growing rapidly. Not a few employees here and there, but by over 100% a year. 
</p>
<p>
  Media coverage around startups can be misleading at times. You can never be sure whether a startup is getting coverage sheerly based on merit or because of relationships between founders and journalists.
</p>
<p>
  But, numbers never lie. Hiring numbers should be one of your single most trusted guides to finding a hot startup to work for. It's also a number that everyone at a startup will share; if you ask about revenue growth, you will probably never get a straight answer. 
</p>
<p>
  If you find a team that <a href="http://www.nytimes.com/2014/09/21/business/zenefits-leader-is-rattling-an-industry-so-why-is-he-stressed-out.html">grows from 15 to 220 employees in 9 months</a>, get on the ship.
</p>

<h3>Follow the investors</h3>
<p>
  I've passed up (by accident) chances to jump on 2 rocketships. The first was bought by Twitter for hundreds of millions of dollars before Twitter's IPO. The second just raised $30 million in funding.
</p>
<p>
  Woops.
</p>
<p>
  Don't be like me. Sign up for the <a href="http://static.crunchbase.com/daily/content_twitter.html">CrunchBase Daily</a> newsletter for all startup funding news so you never miss out on a hot company. 
</p>
<p>
  Scan it every day for a couple of weeks, and you're guaranteed to find hot startups where other jobseekers aren't looking.
</p>
<p>
  You'll also begin to notice the difference between large and small funding rounds. Be sure to focus on <a href="http://avc.com/2014/06/what-seed-financing-is-for/">Seed, Series A and Series B rounds</a>. Once a startup gets to Series C and Series D rounds, you have likely missed your chance to get on the rocketship. It is already that much closer to behaving like a standard company to which you're more accustomed.
</p>
<p>
  If a startup raises a Series A that's over $2 million, get on the ship.
</p>

<h3>Talk to people who know the industry</h3>
<p>
  If you're making your first foray into the startup arena, don't be too proud. Do your upfront research, then get a human take on it.
</p>
<p>
  Maybe they have inside dirt on the company that you haven't found online. Maybe they know the founder and he/she is an absolute tyrant. Or maybe they have nothing but good things to say about the team.
</p>
<p>
  Either way, this will make you feel 10x more confident with your decision when you make it. But you're from the Northeast and your only family and personal connections are in finance or a similar industry?
</p>
<p>
  Hit me up on Twitter <a href="https://twitter.com/SamDeBrule">@samdebrule</a> and I'll give you my $.02 about the startup and connect you with anyone I know. 
</p>
<p>
  Or even better, step up your online game and track down a person that works for the company you're interested in. Send them a short email, tweet at them, or connect with them on LinkedIn. Ask them for a quick 10 minute call or cup of coffee, and you'll find answers to any lingering questions you have about a position or startup's culture. 
</p>

<h4>
  Are you looking for a startup to work at? Reach out to me <a href="https://twitter.com/SamDeBrule">@samdebrule</a> and I'll do everything in my power to help.
</h4>

<p>
  <i>P.S. If you enjoyed this article, join my email list so I can send you more. I’ll share a weekly blog post with some food for thought on the new career landscape and strategies to improve yourself.
</i>
</p>



</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
