<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'The Startup Soundtrack') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">The Startup Soundtrack</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/5/unsplash-kitsune-4.jpg?q=75&fm=jpg&auto=format&s=b1f07cdf2697b83145d4ebc252ef15f7" alt="Startup Music">
            </div> <!-- hero image -->

<p>
  I listen to obscene amounts of music.
</p>
<p>
  Nearly every waking hour, I have some sort of tune on in the background. 
</p>
<p>
  I have no idea if this is good or bad. Sometimes I feel like I can't think without music. That's probably bad. I've been working alone out of my apartment for the past couple of weeks, so it keeps me sane.
</p>
<p>
  Ups and downs are commonplace when you work on a startup, and my recent musical tastes definitely reflect that. 
</p>
<p>
  I thought I'd share some of them with you. Think of it as the entrepreneur's soundtrack.
</p>
<h3>Instrumentals</h3>
<p>
  Instrumentals are perfect whenever you're doing hardcore, brainpower-demanding work. God forbid I leave a wordy song on. I'm overcome with this unacceptable rage. It just creeps up on me and then, BOOM! I'm slamming my keyboard 10 times harder than I need to be.
</p>
<p>
  Don't be like me.
</p>
<p>
  <a href="https://www.youtube.com/watch?v=DfM46XR8wGQ">El Ten Eleven</a> and <a href="https://www.youtube.com/watch?v=JzIK5FaC38w">Explosions in the Sky</a> are perfect for getting shit done. They're chill, wordless, yet make enough noise to keep your brain from going mad with silence. 
</p>

<h3>Motivational Speeches</h3>
<p>
  This isn't music, I know. Leave me alone. 
</p>
<p>
  Motivational speeches are perfect for Monday mornings when all of your normal friends are at work, and you're doubting whether or not you made the right decision to quit your job, forego a salary, and eat low-sodium organic black beans from Trader Joe's for most meals. 
</p>
<p>
  They're also great when you're doing absolutely mindless work that just needs to get done. For me, that's sending and following up to hundreds of emails a day. 
</p>
<p>
  All of these emails are fairly the same, so my brain shuts off and 20 minutes can pass unnoticed. This is the undeniable, scientifically proven, peer-reviewed cause of cubicle monkey syndrome. Don't become a cubicle monkey. 
</p>
<p>
  Find other ways to stimulate your brain when you're doing mindless activities. For me, it's listening to motivational speeches from people like <a href="https://www.youtube.com/watch?v=lsSC2vx7zFQ">Eric Thomas</a>, <a href="https://www.youtube.com/watch?v=LEUFts_pvPI">Les Brown</a>, and <a href="https://www.youtube.com/watch?v=Jv7EULkarfI">random high school football coaches</a>. 
</p>
<p>
  Not only will these help you blast through your most dreaded daily tasks, but they might also make you want to attack a co-worker. You must not do that.
</p>

<h3>Hustler's Anthems</h3>
<p>
  Ok, what is a "hustler's anthem," you ask? It's any hip hop song that forces you to sing out loud and makes you feel as if you just won a billion dollars. 
</p>
<p>
  For me, it used to be the song "Rich as F*ck" by Lil Wayne and 2Chainz. I would belt this song out while driving on the highway, forgetting that not only was I not rich, but I was also driving a 10+ year-old purple Subaru Hatchback. 
</p>
<p>
  These songs are truly powerful.
</p>
<p>
  Put one of them on after a call goes sour with a potential client, if you're experiencing momentary depression, or even when you're celebrating a big win for your startup. 
</p>
<p>
  My current anthem is <a href="https://www.youtube.com/watch?v=IVdn4Jf7LBU">Seen It All</a> by Young Jeezy and Jay-z. Don't knock it until you've tried it.
</p>
<p>
  What music gets you through your day?
</p>


</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
