<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Survive after college') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Cut costs and survive after college</h2>
            <div class="img-responsive">
            <img src="http://37.media.tumblr.com/b980b21e48af44db02630f21d348666b/tumblr_n3ttpb3sFJ1st5lhmo1_1280.jpg" alt="Survive after college">
            </div> <!-- hero image -->

	<p>
    I bet your'e a binge drinker.
  </p>
  <p>
    The National Institute on Alcohol Abuse and Alcoholism thinks you are.
  </p>
  <p>
    They define binge drinking as excessive alcohol use that "typically happens when men consume 5 or more drinks, and women consumer 4 or more drinks, in about 2 hours."
  </p>
  <p>
    Yep. 
  </p>
  <p>
    And you're probably spending a ton of money on booze?
  </p>
  <p>
    But you just graduated college, so how do you have so much cash to burn?
  </p>
  <p>
    I'm not going to tell you to stop drinking. If that's <a href="http://samdebrule.com/post/78104634302/how-to-be-happy-after-college">what you love to do</a>, then by all means.
  </p>
  <p>
    But for god's sake don't let your wallet take a beating.
  </p>
  <p>
    Here are couple ways to save money fresh out of college so that you can spend it on your favorite pastime. 
  </p>
  <p>
    Whatever that may be... 
  </p>

  <h3>Find a cheap apartment</h3>
    <p>
      Use a service like <a href="http://renthop.com/">renthop</a> to reduce costs and avoid getting ripped off. 
    </p>
    <p>
      You still live with your parents. That's cool. I wish I still did.
    </p>
    <p>
      Free food. Free toilet paper. Clean room (thanks mom!). 
    </p>
    <p>
      But you're not going to forever, so start looking for a cheap apartment. It'll make the transition easier when it's time to move out. 
    </p>
    <p>
      If you plan on moving into NYC, you're about to start hemorrhaging cash. You’ll be forced to work through a broker who will charge you a fee of 15% of your first year of rent. 
    </p>
    <p>
      Think $3,000.
    </p>
    <p>
      It's absolutely brutal. 
    </p>
    <p>
      So make sure you <a href="http://techcrunch.com/2009/07/11/renthop-easier-apartment-hunting-without-the-broker-fee/">find an apartment without the broker fee</a> DO NOT use Craigslist. The listings are complete sh*t. I found my 'no-fee' apartment through it, and was still forced to pay 15% on signing day. 
    </p>

  <h3>Make a budget</h3>
    <p>
      Besides from treating my self to a few vanilla glazed and jelly donuts the Donut Pub the other day, setting up a budget for myself in October was the best thing I've done in awhile. 
    </p>
    <p>
      The idea of making a budget scared the hell out of me. I hate thinking about money. But, being mindful of how you're spending money will ultimately help you save. 
    </p>
    <p>
      But if you want to have an idea of what you're blowing cash on, check out <a href="https://itunes.apple.com/us/app/mint-com-personal-finance/id300238550">Mint</a> for iOS. It'll make keeping track much easier.
    </p>
    <p>
      And you'll never have to go near Excel to make a budget spreadsheet ever again.
    </p>

    <h3>Learn how to cook</h3>
    <p>
      I went from spending $720/month on food to about $220. 
    </p>
    <p>
      Like a true sick freak, I tried to somehow convince myself that buying grocercies costs the same as eating out.
    </p>
    <p>
      I mean, that's just not true.
    </p>
    <p>
      Here's my weekly grocery list:
    </p>
    <p>
      <ul>
        <li>Dozen eggs</li>
        <li> Container of pourable egg whites</li>
        <li>6 cans of beans (black or kidney</li>
        <li>2 lbs ground turkey meat</li>
        <li>1 lb chicken breast</li>
        <li> 9 lbs frozen vegetables</li>
        <li> 2 raw onions </li>
      </ul>
    </p>
    <p>
      It costs ~$50 at Trader Joe's. 
    </p>
    <p>
      I'm not making gourmet meals by the way. I eat eggs, vegetables, and beans for breakfast. And, basically a bowl of meat slop for lunch and dinner.
    </p>
    <p>
      But it's super healthy and stupid cheap. Plus, I don't feel guilty when I splurge on the things that make me happy anymore.  
    </p>
    <p>
      I have no app to recommend to make cooking any easier (or more exciting). If you can think of one, by all means, send it my way. 
    </p>

  <h3>Find a credit card that won't ruin your life</h3>
    <p>
      First off, do you know you what yor credit score is? 
    </p>
    <p>
      I didn't either as of about 2 months ago. 
    </p>
    <p>
      Check out <a href="https://www.creditkarma.com/">Credit Karma</a>. It'll show you your credit score for free, and recommend a rock solid card for you based off of that, and some other inputs.
    </p>
    <p>
      If you're not sure what kind of card you want, just go for one that's cash back. No one wants to deal with confusing point rewards systems. And if you're working in your first job out of college, it's unlikely that you're travling enough to get real value out of an air miles card
    </p>
    <p>
      Opt for the cold hard cash. 
    </p>
    <p>
      If you don't save it, spend it <a href="http://www.fastcompany.com/1817649/how-happiest-people-world-spend-their-money">on an experience not a thing</a>.
    </p>
    <p>
      You'll be way happier looking back on it.
    </p>


</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
