<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Giving thanks') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Giving thanks</h2>
            <div class="img-responsive">
            <img src="https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?fit=crop&fm=jpg&h=800&q=75&w=1050" alt= "thankful">
            </div> <!-- hero image -->

<p>
  I consider myself very lucky. 
</p>
<p>
  Not just anyone gets the chance to spend 6 months doing something he loves.
</p>
<p>
  Building my own startup has been a hell of an experience, full of <a href="http://www.samdebrule.com/benefits">ups</a> and <a href="http://www.samdebrule.com/learning">downs</a>.
</p>
<p>
  Nearly every Monday morning over the past few months, I've experienced a wild bout of panic and self doubt.
</p>
<p>
  It usually revolves around not making any money and wondering if I've doomed my career to an eternity of failure and unrealized potential. 
</p>
<p>
  Luckily, I have amazing friends and family who help me snap out of it. I don't tell them how appreciative I am of their support.
</p>
<p>
  So here are a few things for which I am most thankful, in no particular order:
</p>
<p>
  Parents who have always believed in me and encouraged me to do whatever makes me happy.
</p>
<p>
  A handsome dog that licks my face and rolls over for belly rubs any (and every) time he sees me. 
</p>
<p>
  A sister who has always believed I would be successful (despite all opposing evidence).
</p>
<p>
  A girlfriend who loves me enough to stick around, even when most of my energy and time is devoted to building a startup. 
</p>
<p>
  Friends who still invite me to hang out, even though I'm usually too busy "trying to get some work done."
</p>
<p>
  Successful strangers who I have no business talking to, who are willing to chat over coffee.
</p>
<p>
  An internal motivation to work my ass off.
</p>
<p>
  A spacious apartment/office (even though the heat is broken and my feet are always frozen).
</p>
<p>
  A new friend who works harder than almost anyone I've ever met, and inspires me every day. 
</p>
<p>
  The ability to read. 
</p>
<p>
  The ability to run and be fit. 
</p>
<p>
  And to all the people who read and enjoy my blog, I'm thankful for you.
</p>
<p>
  Every time you comment on a post, or say you like what I've written, it makes me happier than you could imagine!
</p>
<p>
  I'm thankful for you all. 
</p>
<p>
  <i>P.S. There's a lot more where this came from. Join my email list so I can send you everything you need. I’ll share a weekly blog post with some food for thought on the new career landscape and strategies to improve yourself.
</i>
</p>
</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
