<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Do something that makes you uncomfortable') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Do something that makes you uncomfortable every day</h2>
            <div class="img-responsive">
            <img src="http://4fordsblog.files.wordpress.com/2010/09/img_5976.jpg" alt="Do something uncomfortable">  
            </div> <!-- hero image -->
<br>
	<p>
    I ate 6 fresh donuts from a local farm today. 1 plain. 2 granulated sugar. 3 powdered sugar. I'm going to have another when I finish this sentence. 
  </p>
  <p>
    Done. I lied before. I've eaten 2 plain donuts today. 7 in total. 
  </p>
  <p>
    I've felt sick for the past 4 hours. But it was worth it. 
  </p>
  <p>
    That's not the kind of discomfort you should feel everyday. I just wanted to share because I feel guilty. 
  </p>
  <p>
    But really. You should do something that makes you uncomfortable. Every day. It's the only way to guarantee <a href="http://samdebrule.com/post/78104634302/how-to-be-happy-after-college">happiness after college</a>. 
  </p>
  <p>
    How else do you plan on making your life after college worthwhile? By doing the same thing every day? 
  </p>
  <p>
    Wake up. Eat breakfast. Go to work. Eat lunch. Work. Home. Dinner. TV. Sleep. Repeat.
  </p>
  <p>
    Just stop. Step out of your comfort zone. It'll make your week worthwhile. 
  </p>
  
<h3>Do something that makes you uncomfortable today</h3>
  <p>
    Work on something that you suck at. Something you've always told yourself you'd do. It will kick you in the ass and stop you from going through the motions.
  </p>
  <p>
    I wake up around 5am every morning. I spend an hour building a skill before I start my day.
  </p>
  <p>
    I either complete <a href="http://technicalmktg.com/">technical marketing lessons</a> or write a few sections for a new blog post.  
  </p>
  <p>
    I'm brutally bad at both, but will be decent some day if I <a href="http://lifehacker.com/281626/jerry-seinfelds-productivity-secret">don't break the chain</a>. 
  </p>
  <p>
    I leave for work most mornings slightly frustrated, but satisfied. I accomplished something. I stepped out of my comfort and stopped myself from settling into a groove.
  </p>

<h3>Do something that makes you uncomfortable this month</h3>
  <p>
    What do you talk about at work every day? Something you saw on TV? Movies? The weather? A YouTube video?
  </p>
  <p>
    There's gotta be something better than that. Why aren't you DOING anything worth talking about?
  </p>
  <p>
    I felt out of shape and flabby after graduating college, so I took up <a href="http://gizmodo.com/488470697">The Slow-Carb Diet</a>. I've lost over 12 lbs in 30 days and feel way better about myself.
  </p>
  <p>
    I definitely stepped out of my comfort zone. I didn't even have a specific weight loss goal. That wasn't the point. I just wanted to prove to myself that I have the discipline to make a major change after school. 
  </p>
  <p>
    You'd be surprised to see how much of an impact it's had on the people around me. Colleagues and friends noticed my new eating habits. They asked what I was up to, and I was more than happy to share.
  </p>
  <p>
    My parents have now lost weight as a result of the diet, and one of my work buddies just decided to give it a shot last week. 
  </p>
  <p>
    I even had a 10 minute chat with <a href="https://twitter.com/arctictony">my CEO</a> about it the other week. 
  </p>
  <p>
    Do something that makes you uncomfortable this month. It will give you something to talk about and change the way people look at you. 
  </p>

<h3>Do something that makes you uncomfortable this year</h3>
  <p>
    Do something this year that you never had the guts to do. It might change your life. 
  </p>
  <p>
    I'm taking a 6-week long <a href="http://esperstudio.com/?page_id=58">intensive acting class this summer</a>.
  </p>
  <p>
    Seriously. I've always wanted to give it a shot. So why not. I bet there's something you've wanted to do. Why are you finding excuses to avoid it?
  </p>
  <p>
    I'm not even excited for it. I'm scared as hell! 
  </p>
  <p>
    That's why I paid 3 months in advance so I can't back out when the time comes and my balls shrink up into my stomach. This is something I've wanted to do. So I'll do it. 
  </p>
  <p>
    Who knows how my life will change?
  </p>
  
  <p>
    What are you working on to make life after college more exciting? What is it you've always wanted to do, but never went through with?
  </p>
  <p>
    Let me know on Twitter! 
  </p>

   

</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
