<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% provide(:title, 'Take a walk today') %>
  </head>

  <body>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Take a walk today</h2>
            <div class="img-responsive">
            <img src="https://unsplash.imgix.net/36/xIsiRLngSRWN02yA2BbK_submission-photo-7.jpg?q=75&fm=jpg&auto=format&s=d172e9da49f26a86b15e1d21bb4faa56" alt="take a walk">
            </div> <!-- hero image -->
<p>
  When's the last time you took a walk? With no destination in mind.
</p>
<p>
  I did about two hours ago.
</p>
<p>
  I left my phone on my desk and just took off. I didn't have errands to run, and I had no destination. 
</p>
<p>
  It was so awesome. 
</p>
<p>
  I've lived in the same neighborhood for a year now. But today, I smelled different smells and heard different sounds. I saw large buildings and little restaurants for the first time. Ones I've likely passed, but never noticed because my face was buried in my phone. 
</p>
<p>
  Or, I missed them because my attention was focsued on wherever I was headed.
</p>
<p>
  It's a shame really. I doubt I'm the only one who does it. 
</p>
<p>
  Give it a shot tomorrow. Leave your phone at home and set out to explore. Don't do any chores while you're out. 
</p>
<p>
  I bet you'll discover something new. 
</p>
<p>
  This isn't random, by the way. I'm, of course, going to somehow make this a story about startups. 
</p>
<p>
  Which it is.
</p>
<p>
  There are a few staggering differences between startups and regular companies.
<p>
  But I know one that no one ever talks about.
</p>
<p>
  You can never unwind. 
</p>
<p>
  At least, I hadn't figured out how to until my walk today. 
</p>
<p>
  And I'm not saying I work 24/7. I don't. I work about about <a href="http://open.bufferapp.com/7-day-work-week-experiment-wisdom-day-rest/">50 concentrated hours</a> per week. I find ways to enjoy myself on the weekends. That's not the problem.
</p>
<p>
  The issue is enjoying life without feeling guilty.
</p>
<p>
  If you work for a large company, you put in your hours, and are able to enjoy time out side of the office. Maybe you'll respond to an email or two, or even go in on Saturday, but you're typically free once you're out of the building.
</p>
<p>
  The place won't come crashing down when you're not around.
</p>
<p>
  If you work for a startup, the possibility of failure is always in the back of your mind. And what would be worse than knowing you failed because you didn't give it your all? Because you were wasting time.
</p>
<p>
  Nothing.
</p>
<p>
  But, that walk you took, that show you watched, wasn't a waste of time. It gave your brain the break it needed to keep kicking ass. And kicking it harder than you would've been able to without it. 
</p>
<p>
  So go take a break. You probably need it.
</p>


</body>

        </div><!-- /.blog-main -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
