<!DOCTYPE html>
<html>
<head>
  <title>Sam DeBrule | Startup and Entrepreneurship Essays</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="site-header theme-margin group" role="banner">
</header>
<h1 class="site-title">
	<a href="http://samdebrule.com">Sam DeBrule
		<span class="tagline">Entrepreneur in Training. Always Hungry. </span>
	</a>
</h1>

<%= yield %>

<div class="blog-footer">
      <p><a href="https://twitter.com/samdebrule">@SamDeBrule</a>.</p>
    </div>

</body>
</html>
